<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Notificación de rechazo al ingreso de almacén</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
			  <a routerLink="/Notificacion_de_rechazo_al_ingreso_de_almacen/list">Notificación de rechazo al ingreso de almacén</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                <p style="color: white">Procesando</p>
            </ngx-spinner>
            <form class="m-4" [formGroup]="Notificacion_de_rechazo_al_ingreso_de_almacenForm" (ngSubmit)="save()">
              <mat-tab-group #tabGroup>
<mat-tab aria-label="Datos_Generales" label="Datos Generales"> <br> <div id="tabDatos_Generales" class="row">
                    <div id="divFolio" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="Folio" [type]="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('Folio').value == 'Auto' ? 'text':'number'" required />
                        <mat-error *ngIf="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('Folio').hasError('required')">
                          Folio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div id="divNo__de_Parte___Descripcion" class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>No. de Parte / Descripción</mat-label>
                        <input (change)="No__de_Parte___Descripcion_ExecuteBusinessRules()" #No__de_Parte___Descripcion matInput formControlName="No__de_Parte___Descripcion" type="text" maxlength="50" required />
                        <mat-error *ngIf="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('No__de_Parte___Descripcion').hasError('required')">
                          No. de Parte / Descripción  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divProveedor" class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Proveedor</mat-label>
                        <input type="text" matInput formControlName="Proveedor" [matAutocomplete]="autoProveedor">
                        <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="displayFnProveedor">
                          <mat-option (onSelectionChange)="Proveedor_ExecuteBusinessRules()" *ngFor="let option of optionsProveedor | async" [value]="option">
                            {{option.Razon_social}}
                          </mat-option>
                          <mat-option *ngIf="isLoadingProveedor" class="is-loading">
                            <mat-spinner diameter="30"></mat-spinner>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!hasOptionsProveedor && !isLoadingProveedor">
                          No se encontraron registros.
                        </mat-hint>
                        <mat-error *ngIf="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('Proveedor').hasError('required')">
                          Campo requerido
                        </mat-error>
                        <mat-error *ngIf="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('Proveedor').hasError('invalidAutocompleteValue')">
                          Valor inválido. Seleccione un Proveedor de la lista de opciones.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divRazon" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Razón</mat-label>
                        <mat-select (selectionChange)="Razon_ExecuteBusinessRules()" placeholder="Razón" formControlName="Razon" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varRazon_de_Rechazo_a_Almacen" [value]="item.Folio">
                            {{ item.Descripcion }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('Razon').hasError('required')">
                          Razón es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divMotivo_de_devolucion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Motivo de devolución</mat-label>
                        <input (change)="Motivo_de_devolucion_ExecuteBusinessRules()" #Motivo_de_devolucion matInput formControlName="Motivo_de_devolucion" type="text" maxlength="500" required />
                        <mat-error *ngIf="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('Motivo_de_devolucion').hasError('required')">
                          Motivo de devolución  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divIdNotificacionRechazoIA" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>IdNotificacionRechazoIA</mat-label>
                        <input (change)="IdNotificacionRechazoIA_ExecuteBusinessRules()" #IdNotificacionRechazoIA matInput formControlName="IdNotificacionRechazoIA" type="text" maxlength="11" required />
                        <mat-error *ngIf="Notificacion_de_rechazo_al_ingreso_de_almacenForm.get('IdNotificacionRechazoIA').hasError('required')">
                          IdNotificacionRechazoIA  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button  class="mr-3 mb-2" [disabled]="!Notificacion_de_rechazo_al_ingreso_de_almacenForm.valid || consult" mat-raised-button
                    color="primary">Notificar 
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndNew()" [disabled]="!Notificacion_de_rechazo_al_ingreso_de_almacenForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Nuevo
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndCopy()" [disabled]="!Notificacion_de_rechazo_al_ingreso_de_almacenForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Copia
                  </button>
                  <button [hidden]="!hasPermision('Configure')" class="mr-3 mb-2" [disabled]="!Notificacion_de_rechazo_al_ingreso_de_almacenForm.valid || consult" mat-raised-button color="primary">Configurar </button>
                  <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="snackbar"></div>
