<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Búsqueda Avanzada de Catálogo aeropuertos</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main">
                  <i class="fas fa-home"></i> Inicio</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Catálogo aeropuertos</a>
              </li>
              <li class="breadcrumb-item active">Búsqueda Avanzada</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Basic Validation -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                Búsqueda Avanzada
              </h2>
              <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                  <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="#" onClick="return false;">Action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Another action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Something else here</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="body">
              <form class="advancefilter-form m-4" [formGroup]="advancefilter" (ngSubmit)="onadvancefilter()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Aeropuerto ID De</mat-label>
                      <input matInput formControlName="fromAeropuerto_ID">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Aeropuerto ID A</mat-label>
                      <input matInput formControlName="toAeropuerto_ID">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="ICAO"
                        formControlName="ICAOFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>ICAO</mat-label>
                      <input matInput formControlName="ICAO" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="IATA"
                        formControlName="IATAFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>IATA</mat-label>
                      <input matInput formControlName="IATA" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="FAA"
                        formControlName="FAAFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>FAA</mat-label>
                      <input matInput formControlName="FAA" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Nombre"
                        formControlName="NombreFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="Nombre" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="PaisFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>País</mat-label>
                      <input matInput formControlName="Pais" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar País</mat-label>
                      <mat-select placeholder="País"
                        formControlName="PaisMultiple" multiple>
                        <mat-option *ngFor="let item of paiss" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="EstadoFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Estado</mat-label>
                      <input matInput formControlName="Estado" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Estado</mat-label>
                      <mat-select placeholder="Estado"
                        formControlName="EstadoMultiple" multiple>
                        <mat-option *ngFor="let item of estados" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="CiudadFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Ciudad</mat-label>
                      <input matInput formControlName="Ciudad" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Ciudad</mat-label>
                      <mat-select placeholder="Ciudad"
                        formControlName="CiudadMultiple" multiple>
                        <mat-option *ngFor="let item of ciudads" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Horario de operaciones"
                        formControlName="Horario_de_operacionesFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Horario de operaciones</mat-label>
                      <input matInput formControlName="Horario_de_operaciones" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Latitud"
                        formControlName="LatitudFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Latitud</mat-label>
                      <input matInput formControlName="Latitud" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Longitud"
                        formControlName="LongitudFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Longitud</mat-label>
                      <input matInput formControlName="Longitud" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Elevación (pies) De</mat-label>
                      <input matInput formControlName="fromElevacion_pies">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Elevación (pies) A</mat-label>
                      <input matInput formControlName="toElevacion_pies">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Variación"
                        formControlName="VariacionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Variación</mat-label>
                      <input matInput formControlName="Variacion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Tipo_de_AeropuertoFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Tipo de Aeropuerto</mat-label>
                      <input matInput formControlName="Tipo_de_Aeropuerto" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Tipo de Aeropuerto</mat-label>
                      <mat-select placeholder="Tipo de Aeropuerto"
                        formControlName="Tipo_de_AeropuertoMultiple" multiple>
                        <mat-option *ngFor="let item of tipo_de_aeropuertos" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Ciudad_mas_cercanaFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Ciudad más cercana</mat-label>
                      <input matInput formControlName="Ciudad_mas_cercana" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Ciudad más cercana</mat-label>
                      <mat-select placeholder="Ciudad más cercana"
                        formControlName="Ciudad_mas_cercanaMultiple" multiple>
                        <mat-option *ngFor="let item of ciudads" [value]="item.Clave">
                          {{ item.Nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Distancia en KM de</mat-label>
                      <input matInput formControlName="fromDistancia_en_KM">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Distancia en KM a</mat-label>
                      <input matInput formControlName="toDistancia_en_KM">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="UTC Estándar"
                        formControlName="UTC_EstandarFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>UTC Estándar</mat-label>
                      <input matInput formControlName="UTC_Estandar" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC Estándar Inicio De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromUTC_Estandar_Inicio" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC Estándar Inicio A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toUTC_Estandar_Inicio" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC Estándar Fin De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromUTC_Estandar_Fin" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC Estándar Fin A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toUTC_Estandar_Fin" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="UTC DLTS"
                        formControlName="UTC_DLTSFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>UTC DLTS</mat-label>
                      <input matInput formControlName="UTC_DLTS" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC DLTS Inicio De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromUTC_DLTS_Inicio" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC DLTS Inicio A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toUTC_DLTS_Inicio" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC DLTS Fin De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromUTC_DLTS_Fin" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC DLTS Fin A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toUTC_DLTS_Fin" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC - Amanecer De</mat-label>
                      <input formControlName="fromUTC__Amanecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC - Amanecer A</mat-label>
                      <input formControlName="toUTC__Amanecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC - Atardecer De</mat-label>
                      <input formControlName="fromUTC__Atardecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> UTC - Atardecer A</mat-label>
                      <input formControlName="toUTC__Atardecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Local Amanecer De</mat-label>
                      <input formControlName="fromLocal_Amanecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Local Amanecer A</mat-label>
                      <input formControlName="toLocal_Amanecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Local Atardecer De</mat-label>
                      <input formControlName="fromLocal_Atardecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Local Atardecer A</mat-label>
                      <input formControlName="toLocal_Atardecer" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>TWR de</mat-label>
                      <input matInput formControlName="fromTWR">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>TWR a</mat-label>
                      <input matInput formControlName="toTWR">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>GND de</mat-label>
                      <input matInput formControlName="fromGND">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>GND a</mat-label>
                      <input matInput formControlName="toGND">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="UNICOM"
                        formControlName="UNICOMFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>UNICOM</mat-label>
                      <input matInput formControlName="UNICOM" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="CLRDEL 1"
                        formControlName="CARDEL_1Filter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>CLRDEL 1</mat-label>
                      <input matInput formControlName="CARDEL_1" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="CLRDEL 2"
                        formControlName="CARDEL_2Filter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>CLRDEL 2</mat-label>
                      <input matInput formControlName="CARDEL_2" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>APPR de</mat-label>
                      <input matInput formControlName="fromAPPR">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>APPR a</mat-label>
                      <input matInput formControlName="toAPPR">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>DEP de</mat-label>
                      <input matInput formControlName="fromDEP">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>DEP a</mat-label>
                      <input matInput formControlName="toDEP">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="ATIS"
                        formControlName="ATISFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>ATIS</mat-label>
                      <input matInput formControlName="ATIS" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="ATIS Phone"
                        formControlName="ATIS_PhoneFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>ATIS Phone</mat-label>
                      <input matInput formControlName="ATIS_Phone" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="ASOS"
                        formControlName="ASOSFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>ASOS</mat-label>
                      <input matInput formControlName="ASOS" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="ASOS Phone"
                        formControlName="ASOS_PhoneFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>ASOS Phone</mat-label>
                      <input matInput formControlName="ASOS_Phone" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="AWOS"
                        formControlName="AWOSFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>AWOS</mat-label>
                      <input matInput formControlName="AWOS" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="AWOS Phone"
                        formControlName="AWOS_PhoneFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>AWOS Phone</mat-label>
                      <input matInput formControlName="AWOS_Phone" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="AWOS Type"
                        formControlName="AWOS_TypeFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>AWOS Type</mat-label>
                      <input matInput formControlName="AWOS_Type" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Código de área / Lada"
                        formControlName="Codigo_de_area___LadaFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Código de área / Lada</mat-label>
                      <input matInput formControlName="Codigo_de_area___Lada" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Administración Aeropuerto"
                        formControlName="Administracion_AeropuertoFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Administración Aeropuerto</mat-label>
                      <input matInput formControlName="Administracion_Aeropuerto" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Comandancia"
                        formControlName="ComandanciaFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Comandancia</mat-label>
                      <input matInput formControlName="Comandancia" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Despacho"
                        formControlName="DespachoFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Despacho</mat-label>
                      <input matInput formControlName="Despacho" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Torre de Control"
                        formControlName="Torre_de_ControlFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Torre de Control</mat-label>
                      <input matInput formControlName="Torre_de_Control" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Descripción"
                        formControlName="DescripcionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Descripción</mat-label>
                      <input matInput formControlName="Descripcion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Notas"
                        formControlName="NotasFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Notas</mat-label>
                      <input matInput formControlName="Notas" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="ICAO/IATA"
                        formControlName="ICAO_IATAFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>ICAO/IATA</mat-label>
                      <input matInput formControlName="ICAO_IATA" type="text" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3 mb-2" mat-raised-button
                      color="primary" (click)="buscar()" > Buscar </button>
                    <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Validation -->
    </div>
  </section>
<div id="snackbar"></div>
