.success {
    background-color: #40FF00 !important;
}

.info {
    background-color: #0174DF !important;
}

.warning {
    background-color: #FFBF00 !important;
}

.error {
    background-color: #FF0000 !important;
}
.hideIcoPassword:hover{
    cursor: pointer;
}