<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/images/pages/login-cover.jpg'); background-size: cover; background-position: -200px center;">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div style="text-align:center">
          <img src="assets/images/main-logo.png" alt="" width="350px">
        </div>
        <span class="login100-form-title p-b-45">
          Resetear Contraseña
        </span>
        <span class="error-subheader2 p-t-20 p-b-15">
          Ingrese su dirección de correo
        </span>
        <div class="form-group mb-5">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput type="email" formControlName="email" placeholder="pat@example.com" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="loginForm.get('email').hasError('required')">Correo requerido</mat-error>            
            <mat-error *ngIf="loginForm.get('email').hasError('email')">Ingresar dirección de correo válida</mat-error>
          </mat-form-field>
        </div>
        <div class="container-login100-form-btn">
          <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
            Resetear contraseña
          </button>
        </div>
        <div class="w-full p-t-25 text-center">
          <div>
            <a routerLink="/authentication/signin" class="txt1">
              ¿Iniciar sesión?
            </a>
          </div>
        </div>
      </form>
     
    </div>
  </div>
</div>