<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Notificaciones de mantenimiento</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Notificaciones de mantenimiento
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">

                        <!-- Exportar -->
                        <div class="row" style="float: right; padding-right: 20px;">
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="Copiar" [disabled]="false" (click)="ActionExport(1)">
                                    Copiar
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="CSV" [disabled]="false" (click)="ActionExport(3)">
                                    CSV
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="Excel" [disabled]="false" (click)="ActionExport(2)">
                                    Excel
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="PDF" [disabled]="false" (click)="ActionExport(4)">
                                    PDF
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Print')" mat-raised-button title="Imprimir" [disabled]="false" (click)="ActionExport(5)">
                                    Imprimir
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive" style="max-height: 70vh;">           

                            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                                <mat-spinner></mat-spinner>
                            </div>

                            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" [matSortActive]="listConfig.sortField" [matSortDirection]="listConfig.sortDirecction">
                               
                                <ng-container matColumnDef="acciones">

                                    <mat-header-cell *matHeaderCellDef class="pr-0" style="height: 18px; width:18px;">
                                       
                                       
                                        <div matTooltip="Agregar" >
                                            <button mat-mini-fab color="primary" [hidden]="!hasPermision('New')" [routerLink]="'/Notificaciones_de_mantenimiento/add'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Búsqueda Avanzada" >
                                            <button mat-mini-fab color="primary" [routerLink]="'/Notificaciones_de_mantenimiento/showadvancefilter'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">search</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Limpiar Filtro" >
                                            
                                            <button mat-mini-fab color="primary" (click)="clearFilter()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>

                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">

                                        <div matTooltip="Modificar" >
                                            <button mat-icon-button class="btn-tbl-edit" [hidden]="!hasPermision('Edit')" [routerLink]="['/Notificaciones_de_mantenimiento/edit', row.Folio ]" [state]="{ data: listConfig}">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Consultar" >
                                            <button mat-icon-button class="btn-tbl-show" [hidden]="!hasPermision('Consult')" [routerLink]="['/Notificaciones_de_mantenimiento/consult', row.Folio ]" [state]="{ data: listConfig}"> 
                                                <mat-icon>preview</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Borrar" >
                                            <button mat-icon-button class="btn-tbl-delete"  [hidden]="!hasPermision('Delete')"  (click)="remove(row)" >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                       
                                        <div matTooltip="Imprimir" >
                                            <button mat-icon-button class="btn-tbl-print"  [hidden]="!hasPermision('Print')"(click)="ActionPrint(row)">
                                                <mat-icon>print</mat-icon>
                                            </button>
    
                                        </div>
                                        
                                    </mat-cell>
                                  
                                </ng-container>                              

                                <ng-container matColumnDef="acciones_filtro">
                                    <mat-cell *matHeaderCellDef>

                                    </mat-cell>
                                </ng-container>

                                                                <ng-container matColumnDef="Folio">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        Folio
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Folio}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Folio_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Folio" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Codigo_computarizado">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Codigo_computarizado'] ? listConfig?.styles['Codigo_computarizado'] : ''">Código computarizado</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Codigo_computarizado'] ? listConfig?.styles['Codigo_computarizado'] : ''">{{row.Codigo_computarizado_Codigo_Computarizado.Descripcion_Busqueda}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Codigo_computarizado_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Codigo_computarizado'] ? listConfig?.styles['Codigo_computarizado'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Codigo_computarizado" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Modelo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Modelo'] ? listConfig?.styles['Modelo'] : ''">Modelo</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Modelo'] ? listConfig?.styles['Modelo'] : ''">{{row.Modelo_Modelos.Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Modelo_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Modelo'] ? listConfig?.styles['Modelo'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Modelo" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Propietario">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Propietario'] ? listConfig?.styles['Propietario'] : ''">Propietario</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Propietario'] ? listConfig?.styles['Propietario'] : ''">{{row.Propietario_Propietarios.Nombre}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Propietario_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Propietario'] ? listConfig?.styles['Propietario'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Propietario" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Matricula">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Matricula'] ? listConfig?.styles['Matricula'] : ''">Matricula</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Matricula'] ? listConfig?.styles['Matricula'] : ''">{{row.Matricula_Aeronave.Matricula}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Matricula_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Matricula'] ? listConfig?.styles['Matricula'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Matricula" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="ATA">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['ATA'] ? listConfig?.styles['ATA'] : ''">ATA</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['ATA'] ? listConfig?.styles['ATA'] : ''">{{row.ATA}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ATA_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['ATA'] ? listConfig?.styles['ATA'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.ATA" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="No__Bitacora">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['No__Bitacora'] ? listConfig?.styles['No__Bitacora'] : ''">
                                        No. Bitácora
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['No__Bitacora'] ? listConfig?.styles['No__Bitacora'] : ''">
                                        <div class="text-center f-w">
                                            {{row.No__Bitacora}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="No__Bitacora_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['No__Bitacora'] ? listConfig?.styles['No__Bitacora'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.No__Bitacora" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Fecha_de_mantenimiento">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_mantenimiento'] ? listConfig?.styles['Fecha_de_mantenimiento'] : ''">Fecha de mantenimiento</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_mantenimiento'] ? listConfig?.styles['Fecha_de_mantenimiento'] : ''">{{row.Fecha_de_mantenimiento | date: 'dd-MM-yyyy'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Fecha_de_mantenimiento_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_mantenimiento'] ? listConfig?.styles['Fecha_de_mantenimiento'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput type="text" [matDatepicker]="picker" disabled="true" [(ngModel)]="listConfig.filter.Fecha_de_mantenimiento" (dateChange)="refresh()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker-toggle matSuffix (click)="listConfig.filter.Fecha_de_mantenimiento = '';refresh()" *ngIf="listConfig.filter.Fecha_de_mantenimiento" >
                                                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker disabled="false"  ></mat-datepicker>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                              
                               
                                <mat-header-row *matHeaderRowDef="listConfig.columns"></mat-header-row>

                                <mat-row class="mat-filtro-row" *matHeaderRowDef="listConfig.columns_filters"></mat-row> 

                                <mat-row *matRowDef="let row; columns: listConfig.columns;" 
                                    [style.cursor]="'pointer'" matRipple>
                                </mat-row>

                            </mat-table>
                        </div>
                        <mat-paginator [length]="dataSource.total$ | async" [pageSize]="listConfig.size" [pageIndex]="listConfig.page" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="snackbar"></div>
