<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Creación de Clientes</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Creación de Clientes
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">

                        <!-- Exportar -->
                        <div class="row" style="float: right; padding-right: 20px;">
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="Copiar" [disabled]="false" (click)="ActionExport(1)">
                                    Copiar
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="CSV" [disabled]="false" (click)="ActionExport(3)">
                                    CSV
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="Excel" [disabled]="false" (click)="ActionExport(2)">
                                    Excel
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="PDF" [disabled]="false" (click)="ActionExport(4)">
                                    PDF
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Print')" mat-raised-button title="Imprimir" [disabled]="false" (click)="ActionExport(5)">
                                    Imprimir
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive" style="max-height: 70vh;">           

                            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                                <mat-spinner></mat-spinner>
                            </div>

                            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" [matSortActive]="listConfig.sortField" [matSortDirection]="listConfig.sortDirecction">
                               
                                <ng-container matColumnDef="acciones">

                                    <mat-header-cell *matHeaderCellDef class="pr-0" style="height: 18px; width:18px;">
                                       
                                       
                                        <div matTooltip="Agregar" >
                                            <button mat-mini-fab color="primary" [hidden]="!hasPermision('New')" [routerLink]="'/Creacion_de_Clientes/add'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Búsqueda Avanzada" >
                                            <button mat-mini-fab color="primary" [routerLink]="'/Creacion_de_Clientes/showadvancefilter'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">search</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Limpiar Filtro" >
                                            
                                            <button mat-mini-fab color="primary" (click)="clearFilter()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>

                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">

                                        <div matTooltip="Modificar" >
                                            <button mat-icon-button class="btn-tbl-edit" [hidden]="!hasPermision('Edit')" [routerLink]="['/Creacion_de_Clientes/edit', row.Clave ]" [state]="{ data: listConfig}">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Consultar" >
                                            <button mat-icon-button class="btn-tbl-show" [hidden]="!hasPermision('Consult')" [routerLink]="['/Creacion_de_Clientes/consult', row.Clave ]" [state]="{ data: listConfig}"> 
                                                <mat-icon>preview</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Borrar" >
                                            <button mat-icon-button class="btn-tbl-delete"  [hidden]="!hasPermision('Delete')"  (click)="remove(row)" >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                       
                                        <div matTooltip="Imprimir" >
                                            <button mat-icon-button class="btn-tbl-print"  [hidden]="!hasPermision('Print')"(click)="ActionPrint(row)">
                                                <mat-icon>print</mat-icon>
                                            </button>
    
                                        </div>
                                        
                                    </mat-cell>
                                  
                                </ng-container>                              

                                <ng-container matColumnDef="acciones_filtro">
                                    <mat-cell *matHeaderCellDef>

                                    </mat-cell>
                                </ng-container>

                                                                <ng-container matColumnDef="Clave">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Clave'] ? listConfig?.styles['Clave'] : ''">
                                        Clave
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Clave'] ? listConfig?.styles['Clave'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Clave}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Clave_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Clave'] ? listConfig?.styles['Clave'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Clave" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Razon_Social">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Razon_Social'] ? listConfig?.styles['Razon_Social'] : ''">Razón Social</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Razon_Social'] ? listConfig?.styles['Razon_Social'] : ''">{{row.Razon_Social}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Razon_Social_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Razon_Social'] ? listConfig?.styles['Razon_Social'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Razon_Social" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Contacto">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Contacto'] ? listConfig?.styles['Contacto'] : ''">Contacto</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Contacto'] ? listConfig?.styles['Contacto'] : ''">{{row.Contacto}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Contacto_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Contacto'] ? listConfig?.styles['Contacto'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Contacto" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Correo_Electronico">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Correo_Electronico'] ? listConfig?.styles['Correo_Electronico'] : ''">Correo Electrónico</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Correo_Electronico'] ? listConfig?.styles['Correo_Electronico'] : ''">{{row.Correo_Electronico}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Correo_Electronico_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Correo_Electronico'] ? listConfig?.styles['Correo_Electronico'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Correo_Electronico" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Direccion_Fiscal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Direccion_Fiscal'] ? listConfig?.styles['Direccion_Fiscal'] : ''">Dirección Fiscal</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Direccion_Fiscal'] ? listConfig?.styles['Direccion_Fiscal'] : ''">{{row.Direccion_Fiscal}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Direccion_Fiscal_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Direccion_Fiscal'] ? listConfig?.styles['Direccion_Fiscal'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Direccion_Fiscal" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Direccion_Postal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Direccion_Postal'] ? listConfig?.styles['Direccion_Postal'] : ''">Dirección Postal</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Direccion_Postal'] ? listConfig?.styles['Direccion_Postal'] : ''">{{row.Direccion_Postal}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Direccion_Postal_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Direccion_Postal'] ? listConfig?.styles['Direccion_Postal'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Direccion_Postal" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Telefono_de_Contacto">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Telefono_de_Contacto'] ? listConfig?.styles['Telefono_de_Contacto'] : ''">Teléfono de Contacto</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Telefono_de_Contacto'] ? listConfig?.styles['Telefono_de_Contacto'] : ''">{{row.Telefono_de_Contacto}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Telefono_de_Contacto_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Telefono_de_Contacto'] ? listConfig?.styles['Telefono_de_Contacto'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Telefono_de_Contacto" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="ID_Dynamics">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['ID_Dynamics'] ? listConfig?.styles['ID_Dynamics'] : ''">ID Dynamics</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['ID_Dynamics'] ? listConfig?.styles['ID_Dynamics'] : ''">{{row.ID_Dynamics}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ID_Dynamics_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['ID_Dynamics'] ? listConfig?.styles['ID_Dynamics'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.ID_Dynamics" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Estatus">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Estatus'] ? listConfig?.styles['Estatus'] : ''">Estatus</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Estatus'] ? listConfig?.styles['Estatus'] : ''">{{row.Estatus_Estatus_de_Cliente.Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Estatus_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Estatus'] ? listConfig?.styles['Estatus'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Estatus" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Pertenece_a_grupo_BAL">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Pertenece_a_grupo_BAL'] ? listConfig?.styles['Pertenece_a_grupo_BAL'] : ''">¿Pertenece a grupo BAL?</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Pertenece_a_grupo_BAL'] ? listConfig?.styles['Pertenece_a_grupo_BAL'] : ''">{{row.Pertenece_a_grupo_BAL_Respuesta.Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Pertenece_a_grupo_BAL_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Pertenece_a_grupo_BAL'] ? listConfig?.styles['Pertenece_a_grupo_BAL'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Pertenece_a_grupo_BAL" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                              
                               
                                <mat-header-row *matHeaderRowDef="listConfig.columns"></mat-header-row>

                                <mat-row class="mat-filtro-row" *matHeaderRowDef="listConfig.columns_filters"></mat-row> 

                                <mat-row *matRowDef="let row; columns: listConfig.columns;" 
                                    [style.cursor]="'pointer'" matRipple>
                                </mat-row>

                            </mat-table>
                        </div>
                        <mat-paginator [length]="dataSource.total$ | async" [pageSize]="listConfig.size" [pageIndex]="listConfig.page" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="snackbar"></div>
