.f-w{
    width: 100%;
}

mat-table {
    display: flex;
    flex-direction: column;
}
    
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type{
    padding-left: 0;
}
    
.spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
mat-form-field.filter {
    width: 100%;
}
    
mat-form-field.filter .mat-form-field-infix {
    border: 1px solid #9e9e9e;
}
    
.filter{
    font-size: 8px;
    height: 38px;
}
    
.mat-column-acciones,.mat-column-acciones_filtro {
    width: 150px;
    flex: 0 0 150px !important;
}

.mat-column-Folio,.mat-column-Folio_filtro{
    width:  50px;
    flex: 0 0 50px !important;
}
.mat-column-Miscelaneas,.mat-column-Miscelaneas_filtro {
    width: 110px;
    flex: 0 0 110px !important;
}
.mat-column-No__items_asociados,.mat-column-No__items_asociados_filtro {
    width: 80px;
    flex: 0 0 80px !important;
}
.mat-column-Transporte,.mat-column-Transporte_filtro {
    width: 110px;
    flex: 0 0 110px !important;
}
.mat-column-Costo_flete_,.mat-column-Costo_flete__filtro {
    width: 120px;
    flex: 0 0 120px !important;
}
.mat-column-Tipo_de_Cambio_T,.mat-column-Tipo_de_Cambio_T_filtro {
    width: 80px;
    flex: 0 0 80px !important;
}
.mat-column-No__de_Factura_T,.mat-column-No__de_Factura_T_filtro {
    width: 180px;
    flex: 0 0 180px !important;
}
.mat-column-Fecha_de_Factura_T,.mat-column-Fecha_de_Factura_T_filtro {
    width: 150px;
    flex: 0 0 150px !important;
}
.mat-column-Servicios_Aduanales,.mat-column-Servicios_Aduanales_filtro {
    width: 110px;
    flex: 0 0 110px !important;
}
.mat-column-Costo_Servicios_,.mat-column-Costo_Servicios__filtro {
    width: 120px;
    flex: 0 0 120px !important;
}
.mat-column-Tipo_de_Cambio_SA,.mat-column-Tipo_de_Cambio_SA_filtro {
    width: 80px;
    flex: 0 0 80px !important;
}
.mat-column-No__de_Factura_SA,.mat-column-No__de_Factura_SA_filtro {
    width: 180px;
    flex: 0 0 180px !important;
}
.mat-column-Fecha_de_Factura_SA,.mat-column-Fecha_de_Factura_SA_filtro {
    width: 150px;
    flex: 0 0 150px !important;
}
.mat-column-Impuestos_Aduanales,.mat-column-Impuestos_Aduanales_filtro {
    width: 180px;
    flex: 0 0 180px !important;
}
.mat-column-Costo_Impuesto_,.mat-column-Costo_Impuesto__filtro {
    width: 120px;
    flex: 0 0 120px !important;
}
.mat-column-Tipo_de_Cambio_IA,.mat-column-Tipo_de_Cambio_IA_filtro {
    width: 80px;
    flex: 0 0 80px !important;
}
.mat-column-No__de_Factura_IA,.mat-column-No__de_Factura_IA_filtro {
    width: 180px;
    flex: 0 0 180px !important;
}
.mat-column-No__de_Factura_IA2,.mat-column-No__de_Factura_IA2_filtro {
    width: 150px;
    flex: 0 0 150px !important;
}
.mat-column-Clave_de_Pedimento,.mat-column-Clave_de_Pedimento_filtro {
    width: 180px;
    flex: 0 0 180px !important;
}
.mat-column-No__de_Pedimento,.mat-column-No__de_Pedimento_filtro {
    width: 80px;
    flex: 0 0 80px !important;
}
.mat-column-No__de_Guia,.mat-column-No__de_Guia_filtro {
    width: 80px;
    flex: 0 0 80px !important;
}
.mat-column-FolioGestionIportacion,.mat-column-FolioGestionIportacion_filtro {
    width: 110px;
    flex: 0 0 110px !important;
}
.mat-column-FolioCostosImportacion,.mat-column-FolioCostosImportacion_filtro {
    width: 180px;
    flex: 0 0 180px !important;
}
    
    
.mat-filtro-row mat-cell{
    padding: 0 2px;
}
    
.mat-filtro-row :host ::ng-deep .mat-form-field-infix{
    padding: 1px 2px 6px !important;
}
    
mat-datepicker-toggle{
    display: inline-block;
    width: 25px;
}
    
.mat-header-row, .mat-row {
    display: inline-flex;
}
    
.filter-select{
    font-size: 9.5px;
    height: 38px;
}
    
.filter-select mat-option{
    font-size: 12px !important;
}
    
:host ::ng-deep .mat-sort-header-container{
    margin:0 auto;
}
    
.mat-raised-button {
    line-height: 20px;
}
