<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Detalle de Actividades de Colaboradores</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Detalle de Actividades de Colaboradores
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">

                        <!-- Exportar -->
                        <div class="row" style="float: right; padding-right: 20px;">
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="Copiar" [disabled]="false" (click)="ActionExport(1)">
                                    Copiar
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="CSV" [disabled]="false" (click)="ActionExport(3)">
                                    CSV
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="Excel" [disabled]="false" (click)="ActionExport(2)">
                                    Excel
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="PDF" [disabled]="false" (click)="ActionExport(4)">
                                    PDF
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Print')" mat-raised-button title="Imprimir" [disabled]="false" (click)="ActionExport(5)">
                                    Imprimir
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive" style="max-height: 70vh;">           

                            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                                <mat-spinner></mat-spinner>
                            </div>

                            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" [matSortActive]="listConfig.sortField" [matSortDirection]="listConfig.sortDirecction">
                               
                                <ng-container matColumnDef="acciones">

                                    <mat-header-cell *matHeaderCellDef class="pr-0" style="height: 18px; width:18px;">
                                       
                                       
                                        <div matTooltip="Agregar" >
                                            <button mat-mini-fab color="primary" [hidden]="!hasPermision('New')" [routerLink]="'/Detalle_de_Actividades_de_Colaboradores/add'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Búsqueda Avanzada" >
                                            <button mat-mini-fab color="primary" [routerLink]="'/Detalle_de_Actividades_de_Colaboradores/showadvancefilter'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">search</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Limpiar Filtro" >
                                            
                                            <button mat-mini-fab color="primary" (click)="clearFilter()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>

                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">

                                        <div matTooltip="Modificar" >
                                            <button mat-icon-button class="btn-tbl-edit" [hidden]="!hasPermision('Edit')" [routerLink]="['/Detalle_de_Actividades_de_Colaboradores/edit', row.Folio ]" [state]="{ data: listConfig}">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Consultar" >
                                            <button mat-icon-button class="btn-tbl-show" [hidden]="!hasPermision('Consult')" [routerLink]="['/Detalle_de_Actividades_de_Colaboradores/consult', row.Folio ]" [state]="{ data: listConfig}"> 
                                                <mat-icon>preview</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Borrar" >
                                            <button mat-icon-button class="btn-tbl-delete"  [hidden]="!hasPermision('Delete')"  (click)="remove(row)" >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                       
                                        <div matTooltip="Imprimir" >
                                            <button mat-icon-button class="btn-tbl-print"  [hidden]="!hasPermision('Print')"(click)="ActionPrint(row)">
                                                <mat-icon>print</mat-icon>
                                            </button>
    
                                        </div>
                                        
                                    </mat-cell>
                                  
                                </ng-container>                              

                                <ng-container matColumnDef="acciones_filtro">
                                    <mat-cell *matHeaderCellDef>

                                    </mat-cell>
                                </ng-container>

                                                                <ng-container matColumnDef="Folio">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        Folio
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Folio}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Folio_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Folio" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Id_Actividad">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Id_Actividad'] ? listConfig?.styles['Id_Actividad'] : ''">Id_Actividad</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Id_Actividad'] ? listConfig?.styles['Id_Actividad'] : ''">{{row.Id_Actividad_Actividades_de_los_Colaboradores.No_Actividad}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Id_Actividad_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Id_Actividad'] ? listConfig?.styles['Id_Actividad'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Id_Actividad" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Fecha_de_Reporte">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_Reporte'] ? listConfig?.styles['Fecha_de_Reporte'] : ''">Fecha de Reporte</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_Reporte'] ? listConfig?.styles['Fecha_de_Reporte'] : ''">{{row.Fecha_de_Reporte | date: 'dd-MM-yyyy'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Fecha_de_Reporte_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_Reporte'] ? listConfig?.styles['Fecha_de_Reporte'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput type="text" [matDatepicker]="picker" disabled="true" [(ngModel)]="listConfig.filter.Fecha_de_Reporte" (dateChange)="refresh()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker-toggle matSuffix (click)="listConfig.filter.Fecha_de_Reporte = '';refresh()" *ngIf="listConfig.filter.Fecha_de_Reporte" >
                                                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker disabled="false"  ></mat-datepicker>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Dia_Inhabil">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Dia_Inhabil'] ? listConfig?.styles['Dia_Inhabil'] : ''">Día Inhábil</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Dia_Inhabil'] ? listConfig?.styles['Dia_Inhabil'] : ''">
                                        <div class="text-center f-w">
                                            <mat-checkbox  [disabled]="true" [checked]="row.Dia_Inhabil" [ngClass]="'tbl-checkbox'"></mat-checkbox>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Dia_Inhabil_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Dia_Inhabil'] ? listConfig?.styles['Dia_Inhabil'] : ''">
                                        <mat-form-field class="filter filter-select"  appearance="outline">
                                            <mat-select  [(value)]="listConfig.filter.Dia_Inhabil" (selectionChange)="refresh()">
                                                <mat-option value="2">Todos</mat-option>
                                                <mat-option value="1">Activos</mat-option>
                                                <mat-option value="0">Inactivos</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Colaborador">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Colaborador'] ? listConfig?.styles['Colaborador'] : ''">Colaborador</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Colaborador'] ? listConfig?.styles['Colaborador'] : ''">{{row.Colaborador_Creacion_de_Usuarios.Nombre_completo}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Colaborador_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Colaborador'] ? listConfig?.styles['Colaborador'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Colaborador" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Puesto">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Puesto'] ? listConfig?.styles['Puesto'] : ''">Puesto</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Puesto'] ? listConfig?.styles['Puesto'] : ''">{{row.Puesto_Cargos.Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Puesto_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Puesto'] ? listConfig?.styles['Puesto'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Puesto" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Empresa">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Empresa'] ? listConfig?.styles['Empresa'] : ''">Empresa</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Empresa'] ? listConfig?.styles['Empresa'] : ''">{{row.Empresa_Cliente.Razon_Social}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Empresa_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Empresa'] ? listConfig?.styles['Empresa'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Empresa" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Inicio_Horario_Laboral">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Inicio_Horario_Laboral'] ? listConfig?.styles['Inicio_Horario_Laboral'] : ''">Inicio Horario Laboral</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Inicio_Horario_Laboral'] ? listConfig?.styles['Inicio_Horario_Laboral'] : ''">{{row.Inicio_Horario_Laboral|mask : 'Hh:m0:s0'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Inicio_Horario_Laboral_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Inicio_Horario_Laboral'] ? listConfig?.styles['Inicio_Horario_Laboral'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Inicio_Horario_Laboral" (change)="refresh()" mask="Hh:m0:s0">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Fin_Horario_Laboral">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Fin_Horario_Laboral'] ? listConfig?.styles['Fin_Horario_Laboral'] : ''">Fin Horario Laboral</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Fin_Horario_Laboral'] ? listConfig?.styles['Fin_Horario_Laboral'] : ''">{{row.Fin_Horario_Laboral|mask : 'Hh:m0:s0'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Fin_Horario_Laboral_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Fin_Horario_Laboral'] ? listConfig?.styles['Fin_Horario_Laboral'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Fin_Horario_Laboral" (change)="refresh()" mask="Hh:m0:s0">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="No_OT">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['No_OT'] ? listConfig?.styles['No_OT'] : ''">No. OT</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['No_OT'] ? listConfig?.styles['No_OT'] : ''">{{row.No_OT_Orden_de_Trabajo.numero_de_orden}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="No_OT_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['No_OT'] ? listConfig?.styles['No_OT'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.No_OT" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="No_OS">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['No_OS'] ? listConfig?.styles['No_OS'] : ''">No. OS</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['No_OS'] ? listConfig?.styles['No_OS'] : ''">{{row.No_OS_Orden_de_servicio.Folio_OS}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="No_OS_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['No_OS'] ? listConfig?.styles['No_OS'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.No_OS" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="No_Vuelo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['No_Vuelo'] ? listConfig?.styles['No_Vuelo'] : ''">No. Vuelo</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['No_Vuelo'] ? listConfig?.styles['No_Vuelo'] : ''">{{row.No_Vuelo_Solicitud_de_Vuelo.Numero_de_Vuelo}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="No_Vuelo_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['No_Vuelo'] ? listConfig?.styles['No_Vuelo'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.No_Vuelo" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="No_Reporte">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['No_Reporte'] ? listConfig?.styles['No_Reporte'] : ''">No. Reporte</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['No_Reporte'] ? listConfig?.styles['No_Reporte'] : ''">{{row.No_Reporte_Crear_Reporte.No_Reporte}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="No_Reporte_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['No_Reporte'] ? listConfig?.styles['No_Reporte'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.No_Reporte" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Hora_Inicial">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Inicial'] ? listConfig?.styles['Hora_Inicial'] : ''">Hora Inicial</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Inicial'] ? listConfig?.styles['Hora_Inicial'] : ''">{{row.Hora_Inicial|mask : 'Hh:m0:s0'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Hora_Inicial_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Inicial'] ? listConfig?.styles['Hora_Inicial'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Hora_Inicial" (change)="refresh()" mask="Hh:m0:s0">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Hora_Final">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Final'] ? listConfig?.styles['Hora_Final'] : ''">Hora Final</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Final'] ? listConfig?.styles['Hora_Final'] : ''">{{row.Hora_Final|mask : 'Hh:m0:s0'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Hora_Final_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Final'] ? listConfig?.styles['Hora_Final'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Hora_Final" (change)="refresh()" mask="Hh:m0:s0">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Matricula">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Matricula'] ? listConfig?.styles['Matricula'] : ''">Matricula</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Matricula'] ? listConfig?.styles['Matricula'] : ''">{{row.Matricula_Aeronave.Matricula}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Matricula_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Matricula'] ? listConfig?.styles['Matricula'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Matricula" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Concepto">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Concepto'] ? listConfig?.styles['Concepto'] : ''">Concepto</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Concepto'] ? listConfig?.styles['Concepto'] : ''">{{row.Concepto_Catalogo_Actividades_de_Colaboradores.Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Concepto_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Concepto'] ? listConfig?.styles['Concepto'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Concepto" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Hora_Normal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Normal'] ? listConfig?.styles['Hora_Normal'] : ''">Hora Normal</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Normal'] ? listConfig?.styles['Hora_Normal'] : ''">{{row.Hora_Normal}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Hora_Normal_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Hora_Normal'] ? listConfig?.styles['Hora_Normal'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Hora_Normal" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Horas_Extra">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Horas_Extra'] ? listConfig?.styles['Horas_Extra'] : ''">Horas Extra</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Horas_Extra'] ? listConfig?.styles['Horas_Extra'] : ''">{{row.Horas_Extra}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Horas_Extra_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Horas_Extra'] ? listConfig?.styles['Horas_Extra'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Horas_Extra" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Tiempo_Normal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Tiempo_Normal'] ? listConfig?.styles['Tiempo_Normal'] : ''">Tiempo Normal</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Tiempo_Normal'] ? listConfig?.styles['Tiempo_Normal'] : ''">{{row.Tiempo_Normal}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Tiempo_Normal_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Tiempo_Normal'] ? listConfig?.styles['Tiempo_Normal'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Tiempo_Normal" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Tiempo_Extra">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Tiempo_Extra'] ? listConfig?.styles['Tiempo_Extra'] : ''">Tiempo Extra</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Tiempo_Extra'] ? listConfig?.styles['Tiempo_Extra'] : ''">{{row.Tiempo_Extra}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Tiempo_Extra_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Tiempo_Extra'] ? listConfig?.styles['Tiempo_Extra'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Tiempo_Extra" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Aeronave_Propia">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Aeronave_Propia'] ? listConfig?.styles['Aeronave_Propia'] : ''">Aeronave Propia</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Aeronave_Propia'] ? listConfig?.styles['Aeronave_Propia'] : ''">
                                        <div class="text-center f-w">
                                            <mat-checkbox  [disabled]="true" [checked]="row.Aeronave_Propia" [ngClass]="'tbl-checkbox'"></mat-checkbox>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Aeronave_Propia_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Aeronave_Propia'] ? listConfig?.styles['Aeronave_Propia'] : ''">
                                        <mat-form-field class="filter filter-select"  appearance="outline">
                                            <mat-select  [(value)]="listConfig.filter.Aeronave_Propia" (selectionChange)="refresh()">
                                                <mat-option value="2">Todos</mat-option>
                                                <mat-option value="1">Activos</mat-option>
                                                <mat-option value="0">Inactivos</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Observaciones">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Observaciones'] ? listConfig?.styles['Observaciones'] : ''">Observaciones</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Observaciones'] ? listConfig?.styles['Observaciones'] : ''">{{row.Observaciones}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Observaciones_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Observaciones'] ? listConfig?.styles['Observaciones'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Observaciones" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                              
                               
                                <mat-header-row *matHeaderRowDef="listConfig.columns"></mat-header-row>

                                <mat-row class="mat-filtro-row" *matHeaderRowDef="listConfig.columns_filters"></mat-row> 

                                <mat-row *matRowDef="let row; columns: listConfig.columns;" 
                                    [style.cursor]="'pointer'" matRipple>
                                </mat-row>

                            </mat-table>
                        </div>
                        <mat-paginator [length]="dataSource.total$ | async" [pageSize]="listConfig.size" [pageIndex]="listConfig.page" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="snackbar"></div>
