<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Búsqueda Avanzada de Solicitud de Vuelo</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main">
                  <i class="fas fa-home"></i> Inicio</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Solicitud de Vuelo</a>
              </li>
              <li class="breadcrumb-item active">Búsqueda Avanzada</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Basic Validation -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                Búsqueda Avanzada
              </h2>
              <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                  <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="#" onClick="return false;">Action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Another action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Something else here</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="body">
              <form class="advancefilter-form m-4" [formGroup]="advancefilter" (ngSubmit)="onadvancefilter()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio De</mat-label>
                      <input matInput formControlName="fromFolio">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio A</mat-label>
                      <input matInput formControlName="toFolio">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Solicitud De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_Solicitud" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Solicitud A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_Solicitud" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de Solicitud De</mat-label>
                      <input formControlName="fromHora_de_Solicitud" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de Solicitud A</mat-label>
                      <input formControlName="toHora_de_Solicitud" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="SolicitanteFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Solicitante</mat-label>
                      <input matInput formControlName="Solicitante" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Solicitante</mat-label>
                      <mat-select placeholder="Solicitante"
                        formControlName="SolicitanteMultiple" multiple>
                        <mat-option *ngFor="let item of spartan_users" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Empresa_SolicitanteFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Razon_Social }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Empresa Solicitante</mat-label>
                      <input matInput formControlName="Empresa_Solicitante" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Empresa Solicitante</mat-label>
                      <mat-select placeholder="Empresa Solicitante"
                        formControlName="Empresa_SolicitanteMultiple" multiple>
                        <mat-option *ngFor="let item of clientes" [value]="item.Clave">
                          {{ item.Razon_Social }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Motivo de viaje"
                        formControlName="Motivo_de_viajeFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Motivo de viaje</mat-label>
                      <input matInput formControlName="Motivo_de_viaje" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Salida De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_Salida" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Salida A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_Salida" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de Salida De</mat-label>
                      <input formControlName="fromHora_de_Salida" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de Salida A</mat-label>
                      <input formControlName="toHora_de_Salida" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Regreso  De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_Regreso" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Regreso  A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_Regreso" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de Regreso De</mat-label>
                      <input formControlName="fromHora_de_Regreso" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de Regreso A</mat-label>
                      <input formControlName="toHora_de_Regreso" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Número de Vuelo"
                        formControlName="Numero_de_VueloFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Número de Vuelo</mat-label>
                      <input matInput formControlName="Numero_de_Vuelo" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Ruta de Vuelo"
                        formControlName="Ruta_de_VueloFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Ruta de Vuelo</mat-label>
                      <input matInput formControlName="Ruta_de_Vuelo" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Observaciones"
                        formControlName="ObservacionesFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Observaciones</mat-label>
                      <input matInput formControlName="Observaciones" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="EstatusFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Estatus</mat-label>
                      <input matInput formControlName="Estatus" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Estatus</mat-label>
                      <mat-select placeholder="Estatus"
                        formControlName="EstatusMultiple" multiple>
                        <mat-option *ngFor="let item of estatus_de_solicitud_de_vuelos" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Tiempo de Vuelo De</mat-label>
                      <input formControlName="fromTiempo_de_Vuelo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Tiempo de Vuelo A</mat-label>
                      <input formControlName="toTiempo_de_Vuelo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Tiempo de Espera De</mat-label>
                      <input formControlName="fromTiempo_de_Espera" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Tiempo de Espera A</mat-label>
                      <input formControlName="toTiempo_de_Espera" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Espera SIN Cargo De</mat-label>
                      <input formControlName="fromEspera_SIN_Cargo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Espera SIN Cargo A</mat-label>
                      <input formControlName="toEspera_SIN_Cargo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Espera CON Cargo De</mat-label>
                      <input formControlName="fromEspera_CON_Cargo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Espera CON Cargo A</mat-label>
                      <input formControlName="toEspera_CON_Cargo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Pernoctas De</mat-label>
                      <input matInput formControlName="fromPernoctas">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Pernoctas A</mat-label>
                      <input matInput formControlName="toPernoctas">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Tiempo de Calzo De</mat-label>
                      <input formControlName="fromTiempo_de_Calzo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Tiempo de Calzo A</mat-label>
                      <input formControlName="toTiempo_de_Calzo" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de autorización De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromDireccion_fecha_autorizacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de autorización A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toDireccion_fecha_autorizacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de autorización De</mat-label>
                      <input formControlName="fromDireccion_Hora_Autorizacion" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de autorización A</mat-label>
                      <input formControlName="toDireccion_Hora_Autorizacion" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Direccion_Usuario_AutorizacionFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Usuario que autoriza</mat-label>
                      <input matInput formControlName="Direccion_Usuario_Autorizacion" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Usuario que autoriza</mat-label>
                      <mat-select placeholder="Usuario que autoriza"
                        formControlName="Direccion_Usuario_AutorizacionMultiple" multiple>
                        <mat-option *ngFor="let item of spartan_users" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Direccion_Resultado_AutorizacionFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Resultado</mat-label>
                      <input matInput formControlName="Direccion_Resultado_Autorizacion" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Resultado</mat-label>
                      <mat-select placeholder="Resultado"
                        formControlName="Direccion_Resultado_AutorizacionMultiple" multiple>
                        <mat-option *ngFor="let item of resultado_de_autorizacion_de_vuelos" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Observaciones Aerovics, equipo a utilizar y otras"
                        formControlName="Direccion_Motivo_RechazoFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Observaciones Aerovics, equipo a utilizar y otras</mat-label>
                      <input matInput formControlName="Direccion_Motivo_Rechazo" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de autorización De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromPresidencia_Fecha_Autorizacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de autorización A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toPresidencia_Fecha_Autorizacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de autorización De</mat-label>
                      <input formControlName="fromPresidencia_Hora_Autorizacion" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Hora de autorización A</mat-label>
                      <input formControlName="toPresidencia_Hora_Autorizacion" matInput placeholder="EX: 23:05:29 "
                        mask="Hh:m0:s0" />
                      <span matPrefix>
                        <mat-icon class="mr-2">access_time</mat-icon>
                      </span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Presidencia_Usuario_AutorizacionFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Usuario que autoriza</mat-label>
                      <input matInput formControlName="Presidencia_Usuario_Autorizacion" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Usuario que autoriza</mat-label>
                      <mat-select placeholder="Usuario que autoriza"
                        formControlName="Presidencia_Usuario_AutorizacionMultiple" multiple>
                        <mat-option *ngFor="let item of spartan_users" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Tramos De</mat-label>
                      <input matInput formControlName="fromTramos">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Tramos A</mat-label>
                      <input matInput formControlName="toTramos">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> TuaNacionales De</mat-label>
                      <input matInput formControlName="fromTuaNacionales">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> TuaNacionales A</mat-label>
                      <input matInput formControlName="toTuaNacionales">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> TuaInternacionales De</mat-label>
                      <input matInput formControlName="fromTuaInternacionales">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> TuaInternacionales A</mat-label>
                      <input matInput formControlName="toTuaInternacionales">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Presidencia_Resultado_AutorizacionFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Resultado</mat-label>
                      <input matInput formControlName="Presidencia_Resultado_Autorizacion" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Resultado</mat-label>
                      <mat-select placeholder="Resultado"
                        formControlName="Presidencia_Resultado_AutorizacionMultiple" multiple>
                        <mat-option *ngFor="let item of resultado_de_autorizacion_de_vuelos" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Observaciones"
                        formControlName="Presidencia_motivo_rechazoFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Observaciones</mat-label>
                      <input matInput formControlName="Presidencia_motivo_rechazo" type="text" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3 mb-2" mat-raised-button
                      color="primary" (click)="buscar()" > Buscar </button>
                    <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Validation -->
    </div>
  </section>
<div id="snackbar"></div>
