<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
            <app-modules class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></app-modules>
            <app-modules-objects class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></app-modules-objects>
            <app-modules-permissions style="margin-top:15px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></app-modules-permissions>
        </div>
        <div class="row">
          <hr>
          <hr>
        </div>
      </div>
    </div>
</section>