<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Inspección de Salida de Aeronave</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
			  <a routerLink="/Formato_de_salida_de_aeronave/list">Inspección de Salida de Aeronave</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                <p style="color: white">Procesando</p>
            </ngx-spinner>
            <form class="m-4" [formGroup]="Formato_de_salida_de_aeronaveForm" (ngSubmit)="save()">
              <mat-tab-group #tabGroup>
<mat-tab aria-label="Datos_Generales" label="Datos Generales"> <br> <div id="tabDatos_Generales" class="row">
                    <div id="divFolio" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="Folio" [type]="Formato_de_salida_de_aeronaveForm.get('Folio').value == 'Auto' ? 'text':'number'" required />
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Folio').hasError('required')">
                          Folio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div id="divOrden_de_Trabajo" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Orden de Trabajo</mat-label>
                        <input type="text" matInput formControlName="Orden_de_Trabajo" [matAutocomplete]="autoOrden_de_Trabajo">
                        <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #autoOrden_de_Trabajo="matAutocomplete" [displayWith]="displayFnOrden_de_Trabajo">
                          <mat-option (onSelectionChange)="Orden_de_Trabajo_ExecuteBusinessRules()" *ngFor="let option of optionsOrden_de_Trabajo | async" [value]="option">
                            {{option.numero_de_orden}}
                          </mat-option>
                          <mat-option *ngIf="isLoadingOrden_de_Trabajo" class="is-loading">
                            <mat-spinner diameter="30"></mat-spinner>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!hasOptionsOrden_de_Trabajo && !isLoadingOrden_de_Trabajo">
                          No se encontraron registros.
                        </mat-hint>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Orden_de_Trabajo').hasError('required')">
                          Campo requerido
                        </mat-error>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Orden_de_Trabajo').hasError('invalidAutocompleteValue')">
                          Valor inválido. Seleccione un Orden de Trabajo de la lista de opciones.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divFecha_de_Inspeccion" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Fecha de Inspección</mat-label>
                        <input (dateChange)="Fecha_de_Inspeccion_ExecuteBusinessRules()" (blur)="Fecha_de_Inspeccion_ExecuteBusinessRules()" matInput (focus)="datePickerFecha_de_Inspeccion.open()" [matDatepicker]="datePickerFecha_de_Inspeccion" formControlName="Fecha_de_Inspeccion" [max]="today" type="text" required />
                        <mat-datepicker-toggle matSuffix [for]="datePickerFecha_de_Inspeccion"></mat-datepicker-toggle>
                        <mat-datepicker #datePickerFecha_de_Inspeccion></mat-datepicker>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Fecha_de_Inspeccion').hasError('required')">
                          Fecha de Inspección  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divMatricula" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Matrícula</mat-label>
                        <input type="text" matInput formControlName="Matricula" [matAutocomplete]="autoMatricula">
                        <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #autoMatricula="matAutocomplete" [displayWith]="displayFnMatricula">
                          <mat-option (onSelectionChange)="Matricula_ExecuteBusinessRules()" *ngFor="let option of optionsMatricula | async" [value]="option">
                            {{option.Matricula}}
                          </mat-option>
                          <mat-option *ngIf="isLoadingMatricula" class="is-loading">
                            <mat-spinner diameter="30"></mat-spinner>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!hasOptionsMatricula && !isLoadingMatricula">
                          No se encontraron registros.
                        </mat-hint>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Matricula').hasError('required')">
                          Campo requerido
                        </mat-error>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Matricula').hasError('invalidAutocompleteValue')">
                          Valor inválido. Seleccione un Matrícula de la lista de opciones.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divModelo" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput formControlName="Modelo" [matAutocomplete]="autoModelo">
                        <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #autoModelo="matAutocomplete" [displayWith]="displayFnModelo">
                          <mat-option (onSelectionChange)="Modelo_ExecuteBusinessRules()" *ngFor="let option of optionsModelo | async" [value]="option">
                            {{option.Descripcion}}
                          </mat-option>
                          <mat-option *ngIf="isLoadingModelo" class="is-loading">
                            <mat-spinner diameter="30"></mat-spinner>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!hasOptionsModelo && !isLoadingModelo">
                          No se encontraron registros.
                        </mat-hint>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Modelo').hasError('required')">
                          Campo requerido
                        </mat-error>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Modelo').hasError('invalidAutocompleteValue')">
                          Valor inválido. Seleccione un Modelo de la lista de opciones.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divNumero_de_serie" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Número de serie</mat-label>
                        <input (change)="Numero_de_serie_ExecuteBusinessRules()" #Numero_de_serie matInput formControlName="Numero_de_serie" type="text" maxlength="20" required />
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Numero_de_serie').hasError('required')">
                          Número de serie  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divCliente" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Cliente</mat-label>
                        <input type="text" matInput formControlName="Cliente" [matAutocomplete]="autoCliente">
                        <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFnCliente">
                          <mat-option (onSelectionChange)="Cliente_ExecuteBusinessRules()" *ngFor="let option of optionsCliente | async" [value]="option">
                            {{option.Razon_Social}}
                          </mat-option>
                          <mat-option *ngIf="isLoadingCliente" class="is-loading">
                            <mat-spinner diameter="30"></mat-spinner>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!hasOptionsCliente && !isLoadingCliente">
                          No se encontraron registros.
                        </mat-hint>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Cliente').hasError('required')">
                          Campo requerido
                        </mat-error>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Cliente').hasError('invalidAutocompleteValue')">
                          Valor inválido. Seleccione un Cliente de la lista de opciones.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divUsuario_que_registra" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Usuario que registra</mat-label>
                        <input type="text" matInput formControlName="Usuario_que_registra" [matAutocomplete]="autoUsuario_que_registra">
                        <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #autoUsuario_que_registra="matAutocomplete" [displayWith]="displayFnUsuario_que_registra">
                          <mat-option (onSelectionChange)="Usuario_que_registra_ExecuteBusinessRules()" *ngFor="let option of optionsUsuario_que_registra | async" [value]="option">
                            {{option.Name}}
                          </mat-option>
                          <mat-option *ngIf="isLoadingUsuario_que_registra" class="is-loading">
                            <mat-spinner diameter="30"></mat-spinner>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!hasOptionsUsuario_que_registra && !isLoadingUsuario_que_registra">
                          No se encontraron registros.
                        </mat-hint>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Usuario_que_registra').hasError('required')">
                          Campo requerido
                        </mat-error>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Usuario_que_registra').hasError('invalidAutocompleteValue')">
                          Valor inválido. Seleccione un Usuario que registra de la lista de opciones.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divRol_de_usuario" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Rol de usuario</mat-label>
                        <input (change)="Rol_de_usuario_ExecuteBusinessRules()" #Rol_de_usuario matInput formControlName="Rol_de_usuario" type="text" maxlength="50" required />
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Rol_de_usuario').hasError('required')">
                          Rol de usuario  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divHora" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Hora</mat-label>
                        <input (change)="Hora_ExecuteBusinessRules()" (blur)="Hora_ExecuteBusinessRules()" formControlName="Hora" matInput placeholder="EX: 23:05:29" mask="Hh:m0:s0" required />
                        <span matPrefix>
                          <mat-icon class="mr-2">access_time</mat-icon>
                        </span>
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Hora').hasError('required')">
                          Hora  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divPrevuelo_Efectuado" class="col-xl col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Prevuelo_Efectuado_ExecuteBusinessRules()" formControlName="Prevuelo_Efectuado" class="example-margin">
                        Prevuelo Efectuado
                      </mat-checkbox> 
                    </div>
                    <div id="divLiberado_despues_de_reparacion_mayor" class="col-xl col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Liberado_despues_de_reparacion_mayor_ExecuteBusinessRules()" formControlName="Liberado_despues_de_reparacion_mayor" class="example-margin">
                        Liberado después de una reparación mayor
                      </mat-checkbox> 
                    </div>
                    <div id="divLiberado_despues_de_inspeccion" class="col-xl col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Liberado_despues_de_inspeccion_ExecuteBusinessRules()" formControlName="Liberado_despues_de_inspeccion" class="example-margin">
                        Liberado después de una inspección
                      </mat-checkbox> 
                    </div>
                    <div id="divLiberado_despues_de_modificacion_mayor" class="col-xl col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Liberado_despues_de_modificacion_mayor_ExecuteBusinessRules()" formControlName="Liberado_despues_de_modificacion_mayor" class="example-margin">
                        Liberado después de una modificación mayor
                      </mat-checkbox> 
                    </div>
                    <div id="divLiberado_despues_de_trabajos_menores" class="col-xl col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Liberado_despues_de_trabajos_menores_ExecuteBusinessRules()" formControlName="Liberado_despues_de_trabajos_menores" class="example-margin">
                        Liberado después de trabajos menores
                      </mat-checkbox> 
                    </div>
                    <div id="divTipo_de_inspeccion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Tipo de inspección</mat-label>
                        <input (change)="Tipo_de_inspeccion_ExecuteBusinessRules()" #Tipo_de_inspeccion matInput formControlName="Tipo_de_inspeccion" type="text" maxlength="50" required />
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Tipo_de_inspeccion').hasError('required')">
                          Tipo de inspección  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divDiscrepancias" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <div class="table-responsive">
                        <div class="top-action-container-table">
                          <h4>Discrepancias No Resueltas durante esta visita</h4>    
                          <button *ngIf="0" color="primary" mat-mini-fab type="button" (click)="addDiscrepanciasToMR(); $event.stopPropagation();"(click)="MRaddDiscrepancias = true" [hidden]="MRaddDiscrepancias">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                        <table  mat-table [dataSource]="dataSourceDiscrepancias"  multiTemplateDataRows>

                          <ng-container *ngIf="!Formato_de_salida_de_aeronaveForm.disabled"  matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Acciones</th>
                            <mat-cell *matCellDef="let element;">
                              <div class="actions">
                                <button mat-icon-button class="btn-tbl-edit"  type="button" (click)="editDiscrepancias(element);">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button class="btn-tbl-delete" type='button'
                                  (click)="deleteDiscrepancias(element); $event.stopPropagation();">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="Item">
                            <th mat-header-cell *matHeaderCellDef> Item</th>
                            <td mat-cell *matCellDef="let element"> {{element.Item_Items?.Descripcion}}                            
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="Reporte">
                            <th mat-header-cell *matHeaderCellDef> Reporte </th>
                            <td mat-cell *matCellDef="let element"> {{element.Reporte}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Codigo_Computarizado">
                            <th mat-header-cell *matHeaderCellDef> Código Computarizado </th>
                            <td mat-cell *matCellDef="let element"> {{element.Codigo_Computarizado}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Codigo_ATA">
                            <th mat-header-cell *matHeaderCellDef> Código ATA </th>
                            <td mat-cell *matCellDef="let element"> {{element.Codigo_ATA}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Respuesta">
                            <th mat-header-cell *matHeaderCellDef> Respuesta </th>
                            <td mat-cell *matCellDef="let element"> {{element.Respuesta}} </td>
                          </ng-container>
                          <ng-container matColumnDef="Asignado_a">
                            <th mat-header-cell *matHeaderCellDef> Asignado a </th>
                            <td mat-cell *matCellDef="let element"> {{element.Asignado_a}} </td>
                          </ng-container>

                 
                          <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element; let i = index;" [attr.colspan]="getDiscrepanciasColumns().length">
                        
                              <div  [@detailExpand]="collapseAll ? 'expanded':'collapsed' ">                       
                                <div *ngIf="element.edit">                              
                                    <form  [formArrayName]="DiscrepanciasItems"  >                               
                                      
                                      <div class="row form-group" [formGroup]="DiscrepanciasItemsByElemet(element)">

                                            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                                              <mat-form-field  appearance="outline">
                                                <mat-label>Item</mat-label>
                                                <input type="text"  matInput formControlName="Item" [matAutocomplete]="auto">
                                                  <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>                         
                                                <mat-autocomplete (optionSelected)="selectItem_Detalle_Inspeccion_Salida($event, element)" #auto="matAutocomplete"
                                                  [displayWith]="displayFnItem_Detalle_Inspeccion_Salida.bind(cthis, element)">
                                                  <mat-option *ngFor="let option of varItems" [value]="option.Folio" (onSelectionChange)="updateOptionItem_Detalle_Inspeccion_Salida($event, element)">
                                                    {{option.Descripcion}}
                                                  </mat-option>
                                                  <mat-option *ngIf="isLoadingItem_Detalle_Inspeccion_Salida" class="is-loading">
                                                    <mat-spinner diameter="50"></mat-spinner>
                                                  </mat-option>
                                                </mat-autocomplete>
												<mat-hint *ngIf="varItems.length ==0 &&  !isLoadingItem_Detalle_Inspeccion_Salida && searchItem_Detalle_Inspeccion_SalidaCompleted">No se encontraron registros.</mat-hint>
                                              </mat-form-field>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Reporte</mat-label>
                                                <input matInput formControlName="Reporte" type="text" />
                                              </mat-form-field>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Código Computarizado</mat-label>
                                                <input matInput formControlName="Codigo_Computarizado" type="text" />
                                              </mat-form-field>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Código ATA</mat-label>
                                                <input matInput formControlName="Codigo_ATA" type="text" />
                                              </mat-form-field>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Respuesta</mat-label>
                                                <input matInput formControlName="Respuesta" type="text" />
                                              </mat-form-field>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Asignado a</mat-label>
                                                <input matInput formControlName="Asignado_a" type="text" />
                                              </mat-form-field>
                                            </div>
    
											
                                      </div>
                                      <!-- inicio seccion botones -->
                                      <!-- fin seccion botones -->
                                      <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                          <button type='button' class="mr-3 btn-sm" mat-raised-button
                                            (click)="element.edit = false; saveDiscrepancias(element);" color="primary">Guardar(click)="MRaddDiscrepancias = false"
                                          </button>
                                          <button type="button" class="mr-3 btn-sm" mat-raised-button color="basic"
                                            (click)="cancelEditDiscrepancias(element)"(click)="MRaddDiscrepancias = false"
                                            mat-button>Cancelar</button>
                                        </div>
                                      </div>
                              
                                    </form>
                                </div>
                              </div>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="getDiscrepanciasColumns()"></tr>
                          <tr mat-row [ngClass]="{'hide': row.IsDeleted || (row.edit && row.Folio ==0 )}" *matRowDef="let row; columns: getDiscrepanciasColumns();let j = index"></tr>
                          <tr mat-row [ngClass]="{'hide': row.IsDeleted}" *matRowDef="let row; columns: ['expandedDetail']; let j = index" class="example-detail-row"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                        </mat-paginator>

                      </div>
                    </div>
                    <div id="divCombustible_LH" class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Combustible LH</mat-label>
                        <input (change)="Combustible_LH_ExecuteBusinessRules()" #Combustible_LH matInput formControlName="Combustible_LH" type="text" maxlength="50" required />
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Combustible_LH').hasError('required')">
                          Combustible LH  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divCombustible_RH" class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Combustible RH</mat-label>
                        <input (change)="Combustible_RH_ExecuteBusinessRules()" #Combustible_RH matInput formControlName="Combustible_RH" type="text" maxlength="50" required />
                        <mat-error *ngIf="Formato_de_salida_de_aeronaveForm.get('Combustible_RH').hasError('required')">
                          Combustible RH  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divRegresar_a_servicio" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Regresar_a_servicio_ExecuteBusinessRules()" formControlName="Regresar_a_servicio" class="example-margin">
                        Regresar a servicio
                      </mat-checkbox> 
                    </div>
                    <div id="divVuelo_de_evaluacion" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Vuelo_de_evaluacion_ExecuteBusinessRules()" formControlName="Vuelo_de_evaluacion" class="example-margin">
                        Vuelo de evaluación
                      </mat-checkbox> 
                    </div>
                    <div id="divSalida" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-checkbox (change)="Salida_ExecuteBusinessRules()" formControlName="Salida" class="example-margin">
                        Salida
                      </mat-checkbox> 
                    </div>

                </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button  class="mr-3 mb-2" [disabled]="!Formato_de_salida_de_aeronaveForm.valid || consult" mat-raised-button
                    color="primary">Guardar 
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndNew()" [disabled]="!Formato_de_salida_de_aeronaveForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Nuevo
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndCopy()" [disabled]="!Formato_de_salida_de_aeronaveForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Copia
                  </button>
                  <button [hidden]="!hasPermision('Configure')" class="mr-3 mb-2" [disabled]="!Formato_de_salida_de_aeronaveForm.valid || consult" mat-raised-button color="primary">Configurar </button>
                  <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="snackbar"></div>
