<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Búsqueda Avanzada de Ingreso a almacén</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main">
                  <i class="fas fa-home"></i> Inicio</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Ingreso a almacén</a>
              </li>
              <li class="breadcrumb-item active">Búsqueda Avanzada</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Basic Validation -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                Búsqueda Avanzada
              </h2>
              <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                  <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="#" onClick="return false;">Action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Another action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Something else here</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="body">
              <form class="advancefilter-form m-4" [formGroup]="advancefilter" (ngSubmit)="onadvancefilter()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio De</mat-label>
                      <input matInput formControlName="fromFolio">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio A</mat-label>
                      <input matInput formControlName="toFolio">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="No. de parte / Descripción "
                        formControlName="No__de_parte___DescripcionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>No. de parte / Descripción </mat-label>
                      <input matInput formControlName="No__de_parte___Descripcion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="CategoriaFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Folio">
                          {{ item.Categoria }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Categoría</mat-label>
                      <input matInput formControlName="Categoria" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Categoría</mat-label>
                      <mat-select placeholder="Categoría"
                        formControlName="CategoriaMultiple" multiple>
                        <mat-option *ngFor="let item of categoria_de_partess" [value]="item.Folio">
                          {{ item.Categoria }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Cant. Solicitada De</mat-label>
                      <input matInput formControlName="fromCant__Solicitada">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Cant. Solicitada A</mat-label>
                      <input matInput formControlName="toCant__Solicitada">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Unidad_CSFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Unidad CS</mat-label>
                      <input matInput formControlName="Unidad_CS" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Unidad CS</mat-label>
                      <mat-select placeholder="Unidad CS"
                        formControlName="Unidad_CSMultiple" multiple>
                        <mat-option *ngFor="let item of unidads" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Cant. Recibida De</mat-label>
                      <input matInput formControlName="fromCant__Recibida">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Cant. Recibida A</mat-label>
                      <input matInput formControlName="toCant__Recibida">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Unidad_CRFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Unidad CR</mat-label>
                      <input matInput formControlName="Unidad_CR" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Unidad CR</mat-label>
                      <mat-select placeholder="Unidad CR"
                        formControlName="Unidad_CRMultiple" multiple>
                        <mat-option *ngFor="let item of unidads" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Costo de Material $ de</mat-label>
                      <span matPrefix>
                        <mat-icon class="mr-2">attach_money</mat-icon>
                      </span>
                      <input matInput formControlName="fromCosto_de_Material_" mask="separator.2" thousandSeparator="," />

                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Costo de Material $ a</mat-label>
                      <span matPrefix>
                        <mat-icon class="mr-2">attach_money</mat-icon>
                      </span>
                      <input matInput formControlName="toCosto_de_Material_" mask="separator.2" thousandSeparator="," />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="No. de Factura"
                        formControlName="No__de_FacturaFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>No. de Factura</mat-label>
                      <input matInput formControlName="No__de_Factura" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Costo en Factura $ de</mat-label>
                      <span matPrefix>
                        <mat-icon class="mr-2">attach_money</mat-icon>
                      </span>
                      <input matInput formControlName="fromCosto_en_Factura_" mask="separator.2" thousandSeparator="," />

                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Costo en Factura $ a</mat-label>
                      <span matPrefix>
                        <mat-icon class="mr-2">attach_money</mat-icon>
                      </span>
                      <input matInput formControlName="toCosto_en_Factura_" mask="separator.2" thousandSeparator="," />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Tipo de Cambio de</mat-label>
                      <input matInput formControlName="fromTipo_de_Cambio">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Tipo de Cambio a</mat-label>
                      <input matInput formControlName="toTipo_de_Cambio">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Factura De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_Factura" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Factura A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_Factura" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha Estimada de llegada De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_Estimada_de_llegada" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha Estimada de llegada A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_Estimada_de_llegada" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha Real de llegada De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_Real_de_llegada" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha Real de llegada A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_Real_de_llegada" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Se_mantiene_el_No__de_ParteFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Folio">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>¿Se mantiene el No. de Parte?</mat-label>
                      <input matInput formControlName="Se_mantiene_el_No__de_Parte" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar ¿Se mantiene el No. de Parte?</mat-label>
                      <mat-select placeholder="¿Se mantiene el No. de Parte?"
                        formControlName="Se_mantiene_el_No__de_ParteMultiple" multiple>
                        <mat-option *ngFor="let item of estatus_de_requeridos" [value]="item.Folio">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="No. de Serie"
                        formControlName="No__de_SerieFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>No. de Serie</mat-label>
                      <input matInput formControlName="No__de_Serie" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="No. de Lote"
                        formControlName="No__de_LoteFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>No. de Lote</mat-label>
                      <input matInput formControlName="No__de_Lote" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Horas acumuladas de</mat-label>
                      <input matInput formControlName="fromHoras_acumuladas">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Horas acumuladas a</mat-label>
                      <input matInput formControlName="toHoras_acumuladas">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Ciclos acumulados de</mat-label>
                      <input matInput formControlName="fromCiclos_acumulados">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Ciclos acumulados a</mat-label>
                      <input matInput formControlName="toCiclos_acumulados">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de vencimiento De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_vencimiento" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de vencimiento A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_vencimiento" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Ubicación en Almacén"
                        formControlName="Ubicacion_en_AlmacenFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Ubicación en Almacén</mat-label>
                      <input matInput formControlName="Ubicacion_en_Almacen" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Linea de Almacén"
                        formControlName="Linea_de_AlmacenFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Linea de Almacén</mat-label>
                      <input matInput formControlName="Linea_de_Almacen" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Ubicación"
                        formControlName="UbicacionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Ubicación</mat-label>
                      <input matInput formControlName="Ubicacion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="CondicionFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Folio">
                          {{ item.Condicion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Condición</mat-label>
                      <input matInput formControlName="Condicion" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Condición</mat-label>
                      <mat-select placeholder="Condición"
                        formControlName="CondicionMultiple" multiple>
                        <mat-option *ngFor="let item of condicion_del_items" [value]="item.Folio">
                          {{ item.Condicion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Expiración De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_Expiracion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de Expiración A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_Expiracion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Control de Temperatura de</mat-label>
                      <input matInput formControlName="fromControl_de_Temperatura">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Control de Temperatura a</mat-label>
                      <input matInput formControlName="toControl_de_Temperatura">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Identificación de Herramienta"
                        formControlName="Identificacion_de_HerramientaFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Identificación de Herramienta</mat-label>
                      <input matInput formControlName="Identificacion_de_Herramienta" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="No. Parte Referencia"
                        formControlName="No__Parte_NuevoFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>No. Parte Referencia</mat-label>
                      <input matInput formControlName="No__Parte_Nuevo" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="IdIngresoAlmacen"
                        formControlName="IdIngresoAlmacenFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>IdIngresoAlmacen</mat-label>
                      <input matInput formControlName="IdIngresoAlmacen" type="text" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3 mb-2" mat-raised-button
                      color="primary" (click)="buscar()" > Buscar </button>
                    <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Validation -->
    </div>
  </section>
<div id="snackbar"></div>
