<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Catálogo código ATA</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
			  <a routerLink="/Catalogo_codigo_ATA/list">Catálogo código ATA</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                <p style="color: white">Procesando</p>
            </ngx-spinner>
            <form class="m-4" [formGroup]="Catalogo_codigo_ATAForm" (ngSubmit)="save()">
              <mat-tab-group #tabGroup>
<mat-tab aria-label="Datos_Generales" label="Datos Generales"> <br> <div id="tabDatos_Generales" class="row">
                    <div id="divFolio" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" [hidden]="true">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="Folio" [type]="Catalogo_codigo_ATAForm.get('Folio').value == 'Auto' ? 'text':'number'" required />
                        <mat-error *ngIf="Catalogo_codigo_ATAForm.get('Folio').hasError('required')">
                          Folio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div id="divCodigo_ATA" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Código ATA</mat-label>
                        <input (change)="Codigo_ATA_ExecuteBusinessRules()" #Codigo_ATA matInput formControlName="Codigo_ATA" type="text" maxlength="50" required />
                        <mat-error *ngIf="Catalogo_codigo_ATAForm.get('Codigo_ATA').hasError('required')">
                          Código ATA  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divDescripcion" class="col-xl-8 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input (change)="Descripcion_ExecuteBusinessRules()" #Descripcion matInput formControlName="Descripcion" type="text" maxlength="250" required />
                        <mat-error *ngIf="Catalogo_codigo_ATAForm.get('Descripcion').hasError('required')">
                          Descripción  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divCodigo_ATA_Descripcion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                      <mat-form-field class="example-full-width no-padding" appearance="outline" [hidden]="true">
                        <mat-label>Código ATA/Descripción</mat-label>
                        <input (change)="Codigo_ATA_Descripcion_ExecuteBusinessRules()" #Codigo_ATA_Descripcion matInput formControlName="Codigo_ATA_Descripcion" type="text" maxlength="300"  />
                        
                      </mat-form-field>
                    </div>
                    <div id="divModelo" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput formControlName="Modelo" [matAutocomplete]="autoModelo" required>
                        <mat-icon style="font-size: 24px;" matSuffix>arrow_drop_down</mat-icon>
                        <mat-autocomplete #autoModelo="matAutocomplete" [displayWith]="displayFnModelo">
                          <mat-option (onSelectionChange)="Modelo_ExecuteBusinessRules()" *ngFor="let option of optionsModelo | async" [value]="option">
                            {{option.Descripcion}}
                          </mat-option>
                          <mat-option *ngIf="isLoadingModelo" class="is-loading">
                            <mat-spinner diameter="30"></mat-spinner>
                          </mat-option>
                        </mat-autocomplete>
                        <mat-hint *ngIf="!hasOptionsModelo && !isLoadingModelo">
                          No se encontraron registros.
                        </mat-hint>
                        <mat-error *ngIf="Catalogo_codigo_ATAForm.get('Modelo').hasError('required')">
                          Campo requerido
                        </mat-error>
                        <mat-error *ngIf="Catalogo_codigo_ATAForm.get('Modelo').hasError('invalidAutocompleteValue')">
                          Valor inválido. Seleccione un Modelo de la lista de opciones.
                        </mat-error>
                      </mat-form-field>
                    </div>

                </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button  class="mr-3 mb-2" [disabled]="!Catalogo_codigo_ATAForm.valid || consult" mat-raised-button
                    color="primary">Guardar 
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndNew()" [disabled]="!Catalogo_codigo_ATAForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Nuevo
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndCopy()" [disabled]="!Catalogo_codigo_ATAForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Copia
                  </button>
                  <button [hidden]="!hasPermision('Configure')" class="mr-3 mb-2" [disabled]="!Catalogo_codigo_ATAForm.valid || consult" mat-raised-button color="primary">Configurar </button>
                  <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="snackbar"></div>
