<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de Ordenes de Trabajo</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
			  <a routerLink="/Listado_de_Ordenes_de_Trabajo/list">Listado de Ordenes de Trabajo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                <p style="color: white">Procesando</p>
            </ngx-spinner>
            <form class="m-4" [formGroup]="Listado_de_Ordenes_de_TrabajoForm" (ngSubmit)="save()">
              <mat-tab-group #tabGroup>
                <mat-tab  label="Datos Generales">
                <br>
                <div id="tabDatos_Generales"  class="row">
                    <div id="divFolio" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="Folio" [type]="Listado_de_Ordenes_de_TrabajoForm.get('Folio').value == 'Auto' ? 'text':'number'" required />
                        <mat-error *ngIf="Listado_de_Ordenes_de_TrabajoForm.get('Folio').hasError('required')">
                          Folio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div id="divMatricula" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Matricula</mat-label>
                        <mat-select placeholder="Matricula" formControlName="Matricula" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varAeronave" [value]="item.Matricula">
                            {{ item.Matricula }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Listado_de_Ordenes_de_TrabajoForm.get('Matricula').hasError('required')">
                          Matricula es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divModelo" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <mat-select placeholder="Modelo" formControlName="Modelo" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varModelos" [value]="item.Clave">
                            {{ item.Descripcion }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Listado_de_Ordenes_de_TrabajoForm.get('Modelo').hasError('required')">
                          Modelo es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divFecha_de_Vencimiento" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Fecha de Vencimiento</mat-label>
                        <input matInput (focus)="datePickerFecha_de_Vencimiento.open()" [matDatepicker]="datePickerFecha_de_Vencimiento" formControlName="Fecha_de_Vencimiento" [max]="today" type="text" required />
                        <mat-datepicker-toggle matSuffix [for]="datePickerFecha_de_Vencimiento"></mat-datepicker-toggle>
                        <mat-datepicker #datePickerFecha_de_Vencimiento></mat-datepicker>
                        <mat-error *ngIf="Listado_de_Ordenes_de_TrabajoForm.get('Fecha_de_Vencimiento').hasError('required')">
                          Fecha de Vencimiento  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divEstatus" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Estatus</mat-label>
                        <input #Estatus matInput formControlName="Estatus" type="text" maxlength="15" required />
                        <mat-error *ngIf="Listado_de_Ordenes_de_TrabajoForm.get('Estatus').hasError('required')">
                          Estatus  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

					</div>
				</mat-tab>
              </mat-tab-group>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button  class="mr-3 mb-2" [disabled]="!Listado_de_Ordenes_de_TrabajoForm.valid || consult" mat-raised-button
                    color="primary">Guardar 
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndNew()" [disabled]="!Listado_de_Ordenes_de_TrabajoForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Nuevo
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndCopy()" [disabled]="!Listado_de_Ordenes_de_TrabajoForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Copia
                  </button>
                  <button [hidden]="!hasPermision('Configure')" class="mr-3 mb-2" [disabled]="!Listado_de_Ordenes_de_TrabajoForm.valid || consult" mat-raised-button color="primary">Configurar </button>
                  <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
