<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Catálogo materiales</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
			  <a routerLink="/Listado_de_Materiales/list">Catálogo materiales</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                <p style="color: white">Procesando</p>
            </ngx-spinner>
            <form class="m-4" [formGroup]="Listado_de_MaterialesForm" (ngSubmit)="save()">
              <mat-tab-group #tabGroup>
<mat-tab aria-label="Datos_Generales" label="Datos Generales"> <br> <div id="tabDatos_Generales" class="row">
                    <div id="divFolio" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="Folio" [type]="Listado_de_MaterialesForm.get('Folio').value == 'Auto' ? 'text':'number'" required />
                        <mat-error *ngIf="Listado_de_MaterialesForm.get('Folio').hasError('required')">
                          Folio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div id="divCodigo" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Código</mat-label>
                        <input (change)="Codigo_ExecuteBusinessRules()" #Codigo matInput formControlName="Codigo" type="text" maxlength="20" required />
                        <mat-error *ngIf="Listado_de_MaterialesForm.get('Codigo').hasError('required')">
                          Código  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divCategoria" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Categoría</mat-label>
                        <mat-select (selectionChange)="Categoria_ExecuteBusinessRules()" placeholder="Categoría" formControlName="Categoria" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varCategoria_de_Partes" [value]="item.Folio">
                            {{ item.Categoria }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Listado_de_MaterialesForm.get('Categoria').hasError('required')">
                          Categoría es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divDescripcion" class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input (change)="Descripcion_ExecuteBusinessRules()" #Descripcion matInput formControlName="Descripcion" type="text" maxlength="100" required />
                        <mat-error *ngIf="Listado_de_MaterialesForm.get('Descripcion').hasError('required')">
                          Descripción  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divCodigo_Descripcion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Código/Descripción</mat-label>
                        <input (change)="Codigo_Descripcion_ExecuteBusinessRules()" #Codigo_Descripcion matInput formControlName="Codigo_Descripcion" type="text" maxlength="100" required />
                        <mat-error *ngIf="Listado_de_MaterialesForm.get('Codigo_Descripcion').hasError('required')">
                          Código/Descripción  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button  class="mr-3 mb-2" [disabled]="!Listado_de_MaterialesForm.valid || consult" mat-raised-button
                    color="primary">Guardar 
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndNew()" [disabled]="!Listado_de_MaterialesForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Nuevo
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndCopy()" [disabled]="!Listado_de_MaterialesForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Copia
                  </button>
                  <button [hidden]="!hasPermision('Configure')" class="mr-3 mb-2" [disabled]="!Listado_de_MaterialesForm.valid || consult" mat-raised-button color="primary">Configurar </button>
                  <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="snackbar"></div>
