<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-title pb-5">
                    Cambiar contraseña
                </span>
                <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                    <p style="color: white">Procesando</p>
                </ngx-spinner>
                <!-- Email -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Dirección de correo</mat-label>
                            <input tabindex="1" matInput type="email" formControlName="email" placeholder="pat@example.com"
                                required />
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="loginForm.get('email').hasError('required')">Correo requerido</mat-error>
                            <mat-error *ngIf="loginForm.get('email').hasError('email')">Ingresar dirección de correo válida</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nueva contraseña</mat-label>
                            <input tabindex="2" matInput type="password" formControlName="password" required>
                            <mat-icon matSuffix>vpn_key</mat-icon>
                            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                                Password requerido
                              </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Confirmar -->
                <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Confirmar contraseña</mat-label>
                            <input tabindex="3" matInput type="password" formControlName="confirmPassword" required>
                            <mat-icon matSuffix>vpn_key</mat-icon>
                            <mat-error *ngIf="loginForm.get('confirmPassword').hasError('required')">
                                Password requerido
                              </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="flex-sb-m w-full p-t-15 p-b-20">
                    <mat-error *ngIf="error !== ''">{{ error }}</mat-error>
                </div> -->
                <div class="flex-sb-m w-full p-t-15 p-b-20">
                    <a routerLink="/authentication/signin" class="txt1">
                        Iniciar sesión?
                    </a>
                </div>
                <div class="container-login100-form-btn">
                    <button tabindex="4" mat-flat-button color="primary" class="login100-form-btn" type="submit">
                        Cambiar contraseña
                    </button>
                </div>

            </form>
            <div class="login100-more" style="background-image: url('assets/images/pages/bg-01.png');">
            </div>
        </div>
    </div>
</div>