<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Boletines / directivas aeronavegabilidad</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            {{nombrePantalla}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">

                        <!-- Exportar -->
                        <div class="row" style="float: right; padding-right: 20px;">
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="Copiar" [disabled]="false" (click)="ActionExport(1)">
                                    Copiar
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')"  mat-raised-button title="CSV" [disabled]="false" (click)="ActionExport(3)">
                                    CSV
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="Excel" [disabled]="false" (click)="ActionExport(2)">
                                    Excel
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Export')" mat-raised-button title="PDF" [disabled]="false" (click)="ActionExport(4)">
                                    PDF
                                </button>
                            </div>
                            &nbsp;
                            <div>
                                <button [hidden]="!hasPermision('Print')" mat-raised-button title="Imprimir" [disabled]="false" (click)="ActionExport(5)">
                                    Imprimir
                                </button>
                            </div>
                        </div>

                        <div class="table-responsive" style="max-height: 70vh;">           

                            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                                <mat-spinner></mat-spinner>
                            </div>

                            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" [matSortActive]="listConfig.sortField" [matSortDirection]="listConfig.sortDirecction">
                               
                                <ng-container matColumnDef="acciones">

                                    <mat-header-cell *matHeaderCellDef class="pr-0" style="height: 18px; width:18px;">
                                       
                                       
                                        <div matTooltip="Agregar" >
                                            <button mat-mini-fab color="primary" [hidden]="!hasPermision('New')" [routerLink]="'/Boletines_Directivas_aeronavegatibilidad/add'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Búsqueda Avanzada" >
                                            <button mat-mini-fab color="primary" [routerLink]="'/Boletines_Directivas_aeronavegatibilidad/showadvancefilter'" [state]="{ data: listConfig}">
                                                <mat-icon class="col-white">search</mat-icon>
                                            </button>
                                        </div>
                                        <div matTooltip="Limpiar Filtro" >
                                            
                                            <button mat-mini-fab color="primary" (click)="clearFilter()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>

                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">

                                        <div matTooltip="Modificar" >
                                            <button mat-icon-button class="btn-tbl-edit" [hidden]="!hasPermision('Edit')" [routerLink]="['/Boletines_Directivas_aeronavegatibilidad/edit', row.Folio ]" [state]="{ data: listConfig}">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Consultar" >
                                            <button mat-icon-button class="btn-tbl-show" [hidden]="!hasPermision('Consult')" [routerLink]="['/Boletines_Directivas_aeronavegatibilidad/consult', row.Folio ]" [state]="{ data: listConfig}"> 
                                                <mat-icon>preview</mat-icon>
                                            </button>
                                        </div>
                                      
                                        <div matTooltip="Borrar" >
                                            <button mat-icon-button class="btn-tbl-delete"  [hidden]="!hasPermision('Delete')"  (click)="remove(row)" >
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                       
                                        <div matTooltip="Imprimir" >
                                            <button mat-icon-button class="btn-tbl-print"  [hidden]="!hasPermision('Print')"(click)="ActionPrint(row)">
                                                <mat-icon>print</mat-icon>
                                            </button>
    
                                        </div>
                                        
                                    </mat-cell>
                                  
                                </ng-container>                              

                                <ng-container matColumnDef="acciones_filtro">
                                    <mat-cell *matHeaderCellDef>

                                    </mat-cell>
                                </ng-container>

                                                                <ng-container matColumnDef="Folio">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        Folio
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Folio}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Folio_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Folio'] ? listConfig?.styles['Folio'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Folio" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Aeronave">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Aeronave'] ? listConfig?.styles['Aeronave'] : ''">Matricula</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Aeronave'] ? listConfig?.styles['Aeronave'] : ''">{{row.Aeronave_Aeronave.Matricula}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Aeronave_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Aeronave'] ? listConfig?.styles['Aeronave'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Aeronave" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Modelo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Modelo'] ? listConfig?.styles['Modelo'] : ''">Modelo</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Modelo'] ? listConfig?.styles['Modelo'] : ''">{{row.Modelo_Modelos.Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Modelo_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Modelo'] ? listConfig?.styles['Modelo'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Modelo" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="N_Serie">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['N_Serie'] ? listConfig?.styles['N_Serie'] : ''">N° Serie</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['N_Serie'] ? listConfig?.styles['N_Serie'] : ''">{{row.N_Serie_Aeronave.Numero_de_Serie}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="N_Serie_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['N_Serie'] ? listConfig?.styles['N_Serie'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.N_Serie" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Procedencia">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Procedencia'] ? listConfig?.styles['Procedencia'] : ''">Procedencia</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Procedencia'] ? listConfig?.styles['Procedencia'] : ''">{{row.Procedencia_Procedencia.Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Procedencia_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Procedencia'] ? listConfig?.styles['Procedencia'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Procedencia" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Tipo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Tipo'] ? listConfig?.styles['Tipo'] : ''">Tipo</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Tipo'] ? listConfig?.styles['Tipo'] : ''">{{row.Tipo_Tipo_de_urgencia.Urgencia}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Tipo_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Tipo'] ? listConfig?.styles['Tipo'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Tipo" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="N_de_boletin_directiva_aeronavegabilidad">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['N_de_boletin_directiva_aeronavegabilidad'] ? listConfig?.styles['N_de_boletin_directiva_aeronavegabilidad'] : ''">N° de boletín/directiva aeronavegabilidad</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['N_de_boletin_directiva_aeronavegabilidad'] ? listConfig?.styles['N_de_boletin_directiva_aeronavegabilidad'] : ''">{{row.N_de_boletin_directiva_aeronavegabilidad}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="N_de_boletin_directiva_aeronavegabilidad_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['N_de_boletin_directiva_aeronavegabilidad'] ? listConfig?.styles['N_de_boletin_directiva_aeronavegabilidad'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.N_de_boletin_directiva_aeronavegabilidad" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="titulo_de_boletin_o_directiva">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['titulo_de_boletin_o_directiva'] ? listConfig?.styles['titulo_de_boletin_o_directiva'] : ''">Título de boletín/directiva aeronavegabilidad</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['titulo_de_boletin_o_directiva'] ? listConfig?.styles['titulo_de_boletin_o_directiva'] : ''">{{row.titulo_de_boletin_o_directiva}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="titulo_de_boletin_o_directiva_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['titulo_de_boletin_o_directiva'] ? listConfig?.styles['titulo_de_boletin_o_directiva'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.titulo_de_boletin_o_directiva" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Codigo_ATA">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Codigo_ATA'] ? listConfig?.styles['Codigo_ATA'] : ''">Código ATA</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Codigo_ATA'] ? listConfig?.styles['Codigo_ATA'] : ''">{{row.Codigo_ATA_Catalogo_codigo_ATA.Codigo_ATA_Descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Codigo_ATA_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Codigo_ATA'] ? listConfig?.styles['Codigo_ATA'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Codigo_ATA" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Fecha_de_creacion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_creacion'] ? listConfig?.styles['Fecha_de_creacion'] : ''">Fecha de efectividad</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_creacion'] ? listConfig?.styles['Fecha_de_creacion'] : ''">{{row.Fecha_de_creacion | date: 'dd-MM-yyyy'}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Fecha_de_creacion_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Fecha_de_creacion'] ? listConfig?.styles['Fecha_de_creacion'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput type="text" [matDatepicker]="picker" disabled="true" [(ngModel)]="listConfig.filter.Fecha_de_creacion" (dateChange)="refresh()">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker-toggle matSuffix (click)="listConfig.filter.Fecha_de_creacion = '';refresh()" *ngIf="listConfig.filter.Fecha_de_creacion" >
                                                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker disabled="false"  ></mat-datepicker>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Crear_reporte">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Crear_reporte'] ? listConfig?.styles['Crear_reporte'] : ''">¿Crear reporte?</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Crear_reporte'] ? listConfig?.styles['Crear_reporte'] : ''">
                                        <div class="text-center f-w">
                                            <mat-checkbox  [disabled]="true" [checked]="row.Crear_reporte" [ngClass]="'tbl-checkbox'"></mat-checkbox>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Crear_reporte_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Crear_reporte'] ? listConfig?.styles['Crear_reporte'] : ''">
                                        <mat-form-field class="filter filter-select"  appearance="outline">
                                            <mat-select  [(value)]="listConfig.filter.Crear_reporte" (selectionChange)="refresh()">
                                                <mat-option value="2">Todos</mat-option>
                                                <mat-option value="1">Activos</mat-option>
                                                <mat-option value="0">Inactivos</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Horas">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Horas'] ? listConfig?.styles['Horas'] : ''">
                                        Horas
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Horas'] ? listConfig?.styles['Horas'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Horas}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Horas_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Horas'] ? listConfig?.styles['Horas'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Horas" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Dias">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Dias'] ? listConfig?.styles['Dias'] : ''">
                                        Días
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Dias'] ? listConfig?.styles['Dias'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Dias}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Dias_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Dias'] ? listConfig?.styles['Dias'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Dias" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Meses">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Meses'] ? listConfig?.styles['Meses'] : ''">
                                        Meses
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Meses'] ? listConfig?.styles['Meses'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Meses}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Meses_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Meses'] ? listConfig?.styles['Meses'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Meses" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Ciclos">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Ciclos'] ? listConfig?.styles['Ciclos'] : ''">
                                        Ciclos
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Ciclos'] ? listConfig?.styles['Ciclos'] : ''">
                                        <div class="text-center f-w">
                                            {{row.Ciclos}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Ciclos_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Ciclos'] ? listConfig?.styles['Ciclos'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.Ciclos" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Es_recurrente">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Es_recurrente'] ? listConfig?.styles['Es_recurrente'] : ''">¿Es recurrente?</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Es_recurrente'] ? listConfig?.styles['Es_recurrente'] : ''">
                                        <div class="text-center f-w">
                                            <mat-checkbox  [disabled]="true" [checked]="row.Es_recurrente" [ngClass]="'tbl-checkbox'"></mat-checkbox>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Es_recurrente_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Es_recurrente'] ? listConfig?.styles['Es_recurrente'] : ''">
                                        <mat-form-field class="filter filter-select"  appearance="outline">
                                            <mat-select  [(value)]="listConfig.filter.Es_recurrente" (selectionChange)="refresh()">
                                                <mat-option value="2">Todos</mat-option>
                                                <mat-option value="1">Activos</mat-option>
                                                <mat-option value="0">Inactivos</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="LimitesEnDias">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['LimitesEnDias'] ? listConfig?.styles['LimitesEnDias'] : ''">
                                        LimitesEnDias
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['LimitesEnDias'] ? listConfig?.styles['LimitesEnDias'] : ''">
                                        <div class="text-center f-w">
                                            {{row.LimitesEnDias}}
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="LimitesEnDias_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['LimitesEnDias'] ? listConfig?.styles['LimitesEnDias'] : ''">
                                        <mat-form-field class="filter"  appearance="outline"> 
                                            <input matInput [(ngModel)]="listConfig.filter.LimitesEnDias" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="DiasTranscurridos">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['DiasTranscurridos'] ? listConfig?.styles['DiasTranscurridos'] : ''">DiasTranscurridos</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['DiasTranscurridos'] ? listConfig?.styles['DiasTranscurridos'] : ''">{{row.DiasTranscurridos}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="DiasTranscurridos_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['DiasTranscurridos'] ? listConfig?.styles['DiasTranscurridos'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.DiasTranscurridos" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="DiasFaltantes">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['DiasFaltantes'] ? listConfig?.styles['DiasFaltantes'] : ''">DiasFaltantes</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['DiasFaltantes'] ? listConfig?.styles['DiasFaltantes'] : ''">{{row.DiasFaltantes}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="DiasFaltantes_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['DiasFaltantes'] ? listConfig?.styles['DiasFaltantes'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.DiasFaltantes" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="HorasFaltantes">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['HorasFaltantes'] ? listConfig?.styles['HorasFaltantes'] : ''">HorasFaltantes</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['HorasFaltantes'] ? listConfig?.styles['HorasFaltantes'] : ''">{{row.HorasFaltantes}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="HorasFaltantes_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['HorasFaltantes'] ? listConfig?.styles['HorasFaltantes'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.HorasFaltantes" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="CiclosFaltantes">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['CiclosFaltantes'] ? listConfig?.styles['CiclosFaltantes'] : ''">CiclosFaltantes</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['CiclosFaltantes'] ? listConfig?.styles['CiclosFaltantes'] : ''">{{row.CiclosFaltantes}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="CiclosFaltantes_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['CiclosFaltantes'] ? listConfig?.styles['CiclosFaltantes'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.CiclosFaltantes" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="Estatus">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['Estatus'] ? listConfig?.styles['Estatus'] : ''">Estatus</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['Estatus'] ? listConfig?.styles['Estatus'] : ''">{{row.Estatus}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Estatus_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['Estatus'] ? listConfig?.styles['Estatus'] : ''">
                                        <mat-form-field class="filter" appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.Estatus" (change)="refresh()">
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="HorasTranscurridas">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['HorasTranscurridas'] ? listConfig?.styles['HorasTranscurridas'] : ''">HorasTranscurridas</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['HorasTranscurridas'] ? listConfig?.styles['HorasTranscurridas'] : ''">{{row.HorasTranscurridas}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="HorasTranscurridas_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['HorasTranscurridas'] ? listConfig?.styles['HorasTranscurridas'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.HorasTranscurridas" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="MesesTranscurridos">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['MesesTranscurridos'] ? listConfig?.styles['MesesTranscurridos'] : ''">MesesTranscurridos</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['MesesTranscurridos'] ? listConfig?.styles['MesesTranscurridos'] : ''">{{row.MesesTranscurridos}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="MesesTranscurridos_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['MesesTranscurridos'] ? listConfig?.styles['MesesTranscurridos'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.MesesTranscurridos" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="MesesFaltantes">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['MesesFaltantes'] ? listConfig?.styles['MesesFaltantes'] : ''">MesesFaltantes</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['MesesFaltantes'] ? listConfig?.styles['MesesFaltantes'] : ''">{{row.MesesFaltantes}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="MesesFaltantes_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['MesesFaltantes'] ? listConfig?.styles['MesesFaltantes'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.MesesFaltantes" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="CiclosTranscurridos">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header [attr.style]="listConfig?.styles && listConfig?.styles['CiclosTranscurridos'] ? listConfig?.styles['CiclosTranscurridos'] : ''">CiclosTranscurridos</mat-header-cell>
                                    <mat-cell *matCellDef="let row;" [attr.style]="listConfig?.styles && listConfig?.styles['CiclosTranscurridos'] ? listConfig?.styles['CiclosTranscurridos'] : ''">{{row.CiclosTranscurridos}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="CiclosTranscurridos_filtro">
                                    <mat-cell *matHeaderCellDef [attr.style]="listConfig?.styles && listConfig?.styles['CiclosTranscurridos'] ? listConfig?.styles['CiclosTranscurridos'] : ''">
                                        <mat-form-field class="filter"  appearance="outline">
                                            <input matInput [(ngModel)]="listConfig.filter.CiclosTranscurridos" (change)="refresh()" mask="separator" >
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                              
                               
                                <mat-header-row *matHeaderRowDef="listConfig.columns"></mat-header-row>

                                <mat-row class="mat-filtro-row" *matHeaderRowDef="listConfig.columns_filters"></mat-row> 

                                <mat-row *matRowDef="let row; columns: listConfig.columns;" 
                                    [style.cursor]="'pointer'" matRipple>
                                </mat-row>

                            </mat-table>
                        </div>
                        <mat-paginator [length]="dataSource.total$ | async" [pageSize]="listConfig.size" [pageIndex]="listConfig.page" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="snackbar"></div>
