:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius   : 5px;
}


:host::ng-deep .mat-form-field-flex>.mat-form-field-infix {

    padding: 0.4em 0px !important
}

:host::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em
}

:host::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width    : 133.33333%
}

.icon-display {
    transform: scale(0.8)
}