<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Búsqueda Avanzada de Historial de Instalación de partes</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main">
                  <i class="fas fa-home"></i> Inicio</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Historial de Instalación de partes</a>
              </li>
              <li class="breadcrumb-item active">Búsqueda Avanzada</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Basic Validation -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                Búsqueda Avanzada
              </h2>
              <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                  <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="#" onClick="return false;">Action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Another action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Something else here</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="body">
              <form class="advancefilter-form m-4" [formGroup]="advancefilter" (ngSubmit)="onadvancefilter()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio De</mat-label>
                      <input matInput formControlName="fromFolio">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio A</mat-label>
                      <input matInput formControlName="toFolio">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Descripción"
                        formControlName="DescripcionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Descripción</mat-label>
                      <input matInput formControlName="Descripcion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="N° de parte"
                        formControlName="N_de_parteFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>N° de parte</mat-label>
                      <input matInput formControlName="N_de_parte" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="N° de serie"
                        formControlName="N_de_serieFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>N° de serie</mat-label>
                      <input matInput formControlName="N_de_serie" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Modelo "
                        formControlName="ModeloFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Modelo </mat-label>
                      <input matInput formControlName="Modelo" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Posición"
                        formControlName="PosicionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Posición</mat-label>
                      <input matInput formControlName="Posicion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="EstatusFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Estatus</mat-label>
                      <input matInput formControlName="Estatus" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Estatus</mat-label>
                      <mat-select placeholder="Estatus"
                        formControlName="EstatusMultiple" multiple>
                        <mat-option *ngFor="let item of tipos_de_origen_del_componentes" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Horas acumuladas parte De</mat-label>
                      <input matInput formControlName="fromHoras_acumuladas_parte">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Horas acumuladas parte A</mat-label>
                      <input matInput formControlName="toHoras_acumuladas_parte">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Ciclos acumulados parte De</mat-label>
                      <input matInput formControlName="fromCiclos_acumulados_parte">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Ciclos acumulados parte A</mat-label>
                      <input matInput formControlName="toCiclos_acumulados_parte">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de fabricación De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_Fabricacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de fabricación A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_Fabricacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de instalación De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_de_Instalacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha de instalación A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_de_Instalacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha reparación De</mat-label>
                      <input matInput (focus)="rpickerde.open()" [matDatepicker]="rpickerde"
                        formControlName="fromFecha_Reparacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickerde"></mat-datepicker-toggle>
                      <mat-datepicker #rpickerde></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Fecha reparación A</mat-label>
                      <input matInput (focus)="rpickera.open()" [matDatepicker]="rpickera"
                        formControlName="toFecha_Reparacion" type="text" />
                      <mat-datepicker-toggle matSuffix [for]="rpickera"></mat-datepicker-toggle>
                      <mat-datepicker #rpickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Usuario_que_realiza_la_instalacionFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Usuario que realiza la instalación</mat-label>
                      <input matInput formControlName="Usuario_que_realiza_la_instalacion" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Usuario que realiza la instalación</mat-label>
                      <mat-select placeholder="Usuario que realiza la instalación"
                        formControlName="Usuario_que_realiza_la_instalacionMultiple" multiple>
                        <mat-option *ngFor="let item of spartan_users" [value]="item.Id_User">
                          {{ item.Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Meses acumulados parte De</mat-label>
                      <input matInput formControlName="fromMeses_acumulados_parte">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Meses acumulados parte A</mat-label>
                      <input matInput formControlName="toMeses_acumulados_parte">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Tipo_de_vencimientoFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Tipo de vencimiento</mat-label>
                      <input matInput formControlName="Tipo_de_vencimiento" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Tipo de vencimiento</mat-label>
                      <mat-select placeholder="Tipo de vencimiento"
                        formControlName="Tipo_de_vencimientoMultiple" multiple>
                        <mat-option *ngFor="let item of catalogo_tipo_de_vencimientos" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3 mb-2" mat-raised-button
                      color="primary" (click)="buscar()" > Buscar </button>
                    <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Validation -->
    </div>
  </section>
