<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Layout Balance General</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
			  <a routerLink="/Layout_Balance_General/list">Layout Balance General</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                <p style="color: white">Procesando</p>
            </ngx-spinner>
            <form class="m-4" [formGroup]="Layout_Balance_GeneralForm" (ngSubmit)="save()">
              <mat-tab-group #tabGroup>
<mat-tab aria-label="Datos_Generales" label="Datos Generales"> <br> <div id="tabDatos_Generales" class="row">
                    <div id="divFolio" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="Folio" [type]="Layout_Balance_GeneralForm.get('Folio').value == 'Auto' ? 'text':'number'" required />
                        <mat-error *ngIf="Layout_Balance_GeneralForm.get('Folio').hasError('required')">
                          Folio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div id="divFolio_de_carga_manual" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline"  >
                        <mat-label>Folio de carga manual</mat-label>
                        <input (change)="Folio_de_carga_manual_ExecuteBusinessRules()" matInput formControlName="Folio_de_carga_manual" [type]="Layout_Balance_GeneralForm.get('Folio_de_carga_manual').value == 'Auto'  ? 'text':'number' " maxlength="9" required />
                        <mat-error *ngIf="Layout_Balance_GeneralForm.get('Folio_de_carga_manual').hasError('required')">
                          Folio de carga manual  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divFecha" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Fecha</mat-label>
                        <input (dateChange)="Fecha_ExecuteBusinessRules()" (blur)="Fecha_ExecuteBusinessRules()" matInput (focus)="datePickerFecha.open()" [matDatepicker]="datePickerFecha" formControlName="Fecha" [max]="today" type="text" required />
                        <mat-datepicker-toggle matSuffix [for]="datePickerFecha"></mat-datepicker-toggle>
                        <mat-datepicker #datePickerFecha></mat-datepicker>
                        <mat-error *ngIf="Layout_Balance_GeneralForm.get('Fecha').hasError('required')">
                          Fecha  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divTipoConcepto" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>TipoConcepto</mat-label>
                        <mat-select (selectionChange)="TipoConcepto_ExecuteBusinessRules()" placeholder="TipoConcepto" formControlName="TipoConcepto" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varTipo_de_Concepto_Balance_General" [value]="item.Clave">
                            {{ item.Descripcion }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Layout_Balance_GeneralForm.get('TipoConcepto').hasError('required')">
                          TipoConcepto es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divAgrupacionConcepto" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>AgrupacionConcepto</mat-label>
                        <mat-select (selectionChange)="AgrupacionConcepto_ExecuteBusinessRules()" placeholder="AgrupacionConcepto" formControlName="AgrupacionConcepto" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varAgrupacion_Concepto_Balance_General" [value]="item.Clave">
                            {{ item.Descripcion }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Layout_Balance_GeneralForm.get('AgrupacionConcepto').hasError('required')">
                          AgrupacionConcepto es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divConcepto" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Concepto</mat-label>
                        <mat-select (selectionChange)="Concepto_ExecuteBusinessRules()" placeholder="Concepto" formControlName="Concepto" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varConcepto_Balance_General" [value]="item.Clave">
                            {{ item.Descripcion }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Layout_Balance_GeneralForm.get('Concepto').hasError('required')">
                          Concepto es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divReal" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Real</mat-label>
                        <input (change)="Real_ExecuteBusinessRules()" matInput formControlName="Real" [value]="Layout_Balance_GeneralForm.get('Real').value | number:'18.1-2'" type="number" maxlength="18" required />
                        <mat-error *ngIf="Layout_Balance_GeneralForm.get('Real').hasError('required')">
                          Real  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divPresupuesto" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Presupuesto</mat-label>
                        <input (change)="Presupuesto_ExecuteBusinessRules()" matInput formControlName="Presupuesto" [value]="Layout_Balance_GeneralForm.get('Presupuesto').value | number:'18.1-2'" type="number" maxlength="18" required />
                        <mat-error *ngIf="Layout_Balance_GeneralForm.get('Presupuesto').hasError('required')">
                          Presupuesto  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button  class="mr-3 mb-2" [disabled]="!Layout_Balance_GeneralForm.valid || consult" mat-raised-button
                    color="primary">Guardar 
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndNew()" [disabled]="!Layout_Balance_GeneralForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Nuevo
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndCopy()" [disabled]="!Layout_Balance_GeneralForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Copia
                  </button>
                  <button [hidden]="!hasPermision('Configure')" class="mr-3 mb-2" [disabled]="!Layout_Balance_GeneralForm.valid || consult" mat-raised-button color="primary">Configurar </button>
                  <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="snackbar"></div>
