@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
    --fc-list-event-dot-width     : 10px;
    --fc-list-event-hover-bg-color: #f5f5f5;
    --fc-button-bg-color          : #0D66D0;
    --fc-button-border-color      : #0D66D0;
    --fc-button-text-color        : #FFF;
    --fc-button-hover-bg-color    : #325396;
    --fc-button-hover-border-color: #325396;
    --fc-button-text-color        : #FFF;
}

html {
    font-size: 16px;
}

body {
    font-family   : "Open Sans", sans-serif;
    font-weight   : 400;
    font-size     : 0.75rem;
    line-height   : 1.15;
    text-rendering: optimizelegibility;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    padding: 0.2rem 0.4rem;
    margin : 0.2rem;
}

.fc .fc-daygrid-day-bottom {
    font-size       : .85em;
    margin          : 2px 3px 0;
    background-color: #FFCD39;
    padding         : 0.2rem;
    text-align      : center;
    margin-bottom   : 0.4rem;
    font-weight     : 700;
    border-radius   : 6px;
}

.fc-daygrid-event {
    border-radius: 6px;
}

#btnAddVuelo {
    margin-bottom: 5px;
}

.fc-event-main {
    font-size: 0.8rem;
}

.pd-0 {
    padding: 0 !important
}