<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Búsqueda Avanzada de Catálogo herramientas</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main">
                  <i class="fas fa-home"></i> Inicio</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Catálogo herramientas</a>
              </li>
              <li class="breadcrumb-item active">Búsqueda Avanzada</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Basic Validation -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>
                Búsqueda Avanzada
              </h2>
              <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                  <a href="#" onClick="return false;" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="#" onClick="return false;">Action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Another action</a>
                    </li>
                    <li>
                      <a href="#" onClick="return false;">Something else here</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="body">
              <form class="advancefilter-form m-4" [formGroup]="advancefilter" (ngSubmit)="onadvancefilter()">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio De</mat-label>
                      <input matInput formControlName="fromFolio">
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label> Folio A</mat-label>
                      <input matInput formControlName="toFolio">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Código"
                        formControlName="CodigoFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Código</mat-label>
                      <input matInput formControlName="Codigo" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="CategoriaFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Folio">
                          {{ item.Categoria }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Categoría</mat-label>
                      <input matInput formControlName="Categoria" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Categoría</mat-label>
                      <mat-select placeholder="Categoría"
                        formControlName="CategoriaMultiple" multiple>
                        <mat-option *ngFor="let item of categoria_de_partess" [value]="item.Folio">
                          {{ item.Categoria }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Descripción"
                        formControlName="DescripcionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Descripción</mat-label>
                      <input matInput formControlName="Descripcion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Código/Descripción"
                        formControlName="Codigo_DescripcionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Código/Descripción</mat-label>
                      <input matInput formControlName="Codigo_Descripcion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="No. de Serie"
                        formControlName="No_de_SerieFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>No. de Serie</mat-label>
                      <input matInput formControlName="No_de_Serie" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Código de calibración"
                        formControlName="Codigo_de_calibracionFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Código de calibración</mat-label>
                      <input matInput formControlName="Codigo_de_calibracion" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Filtrar"
                        formControlName="Manual_del_UsuarioFilter" >
                        <mat-option *ngFor="let item of filter" [value]="item.Folio">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Manual del Usuario</mat-label>
                      <input matInput formControlName="Manual_del_Usuario" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label> Seleccionar Manual del Usuario</mat-label>
                      <mat-select placeholder="Manual del Usuario"
                        formControlName="Manual_del_UsuarioMultiple" multiple>
                        <mat-option *ngFor="let item of catalago_manual_de_usuarios" [value]="item.Folio">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                   </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Filtrar</mat-label>
                      <mat-select placeholder="Alcance"
                        formControlName="AlcanceFilter">
                        <mat-option *ngFor="let item of filter" [value]="item.Clave">
                          {{ item.Descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width no-padding" appearance="outline">
                      <mat-label>Alcance</mat-label>
                      <input matInput formControlName="Alcance" type="text" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3 mb-2" mat-raised-button
                      color="primary" (click)="buscar()" > Buscar </button>
                    <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Validation -->
    </div>
  </section>
<div id="snackbar"></div>
