::ng-deep .mat-accent .mat-checkbox-background {
    background-color: black !important;
}

.nodeTree:hover {
  transform: scale(1.1);
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
}

.nodeTree {
  cursor: pointer;
}