<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de Directivas de aeronavegabilidad</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
			  <a routerLink="/Listado_de_Directivas_de_aeronavegabilidad/list">Listado de Directivas de aeronavegabilidad</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <ngx-spinner name="loading" type="ball-spin-fade" fullScreen="false">
                <p style="color: white">Procesando</p>
            </ngx-spinner>
            <form class="m-4" [formGroup]="Listado_de_Directivas_de_aeronavegabilidadForm" (ngSubmit)="save()">
              <mat-tab-group #tabGroup>
<mat-tab aria-label="Datos_Generales" label="Datos Generales"> <br> <div id="tabDatos_Generales" class="row">
                    <div id="divFolio" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="Folio" [type]="Listado_de_Directivas_de_aeronavegabilidadForm.get('Folio').value == 'Auto' ? 'text':'number'" required />
                        <mat-error *ngIf="Listado_de_Directivas_de_aeronavegabilidadForm.get('Folio').hasError('required')">
                          Folio es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div id="divMatricula" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Matricula</mat-label>
                        <mat-select (selectionChange)="Matricula_ExecuteBusinessRules()" placeholder="Matricula" formControlName="Matricula" required>
                          <mat-option>

                          </mat-option>
                          <mat-option *ngFor="let item of varAeronave" [value]="item.Matricula">
                            {{ item.Matricula }}
                          </mat-option>
                        </mat-select>
						<mat-error *ngIf="Listado_de_Directivas_de_aeronavegabilidadForm.get('Matricula').hasError('required')">
                          Matricula es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divFecha_de_Creacion" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Fecha de Creación</mat-label>
                        <input (dateChange)="Fecha_de_Creacion_ExecuteBusinessRules()" (blur)="Fecha_de_Creacion_ExecuteBusinessRules()" matInput (focus)="datePickerFecha_de_Creacion.open()" [matDatepicker]="datePickerFecha_de_Creacion" formControlName="Fecha_de_Creacion" [max]="today" type="text" required />
                        <mat-datepicker-toggle matSuffix [for]="datePickerFecha_de_Creacion"></mat-datepicker-toggle>
                        <mat-datepicker #datePickerFecha_de_Creacion></mat-datepicker>
                        <mat-error *ngIf="Listado_de_Directivas_de_aeronavegabilidadForm.get('Fecha_de_Creacion').hasError('required')">
                          Fecha de Creación  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div id="divIngrese_N_de_Directiva_aeronavegabilidad" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width no-padding" appearance="outline">
                        <mat-label>Ingrese N° de Directiva aeronavegabilidad</mat-label>
                        <input (change)="Ingrese_N_de_Directiva_aeronavegabilidad_ExecuteBusinessRules()" #Ingrese_N_de_Directiva_aeronavegabilidad matInput formControlName="Ingrese_N_de_Directiva_aeronavegabilidad" type="text" maxlength="20" required />
                        <mat-error *ngIf="Listado_de_Directivas_de_aeronavegabilidadForm.get('Ingrese_N_de_Directiva_aeronavegabilidad').hasError('required')">
                          Ingrese N° de Directiva aeronavegabilidad  es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>

                </div>
                </mat-tab>
              </mat-tab-group>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button  class="mr-3 mb-2" [disabled]="!Listado_de_Directivas_de_aeronavegabilidadForm.valid || consult" mat-raised-button
                    color="primary">Guardar 
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndNew()" [disabled]="!Listado_de_Directivas_de_aeronavegabilidadForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Nuevo
                  </button>
                  <button type='button' class="mr-3 mb-2" (click)="saveAndCopy()" [disabled]="!Listado_de_Directivas_de_aeronavegabilidadForm.valid || consult"
                    mat-raised-button color="primary"hidden>Guardar y Copia
                  </button>
                  <button [hidden]="!hasPermision('Configure')" class="mr-3 mb-2" [disabled]="!Listado_de_Directivas_de_aeronavegabilidadForm.valid || consult" mat-raised-button color="primary">Configurar </button>
                  <button type="button" class="mb-2"  mat-raised-button color="basic" (click)="goToList()" mat-button>Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="snackbar"></div>
